// style_home.scss

body {
	margin: 0;
	padding: 0;
	position: relative;
	height: 100%;
	width: 100%;
background-image: url("/static/home/images/background.png");
background-position: center;
background-repeat: no-repeat;
background-size: 100vw 100vh;
}

html, body {
	height: 100%;
	width: 100%;
}

.pong_title {
	position: relative;
	color: white;
	padding-left: 1vmin;
	font-size: 9vmin;
	width: 100%;
	border : 5px, black;
}

// .P {
// 	position: fixed;
// 	border : 5px, solid black;
// }

// .O{
// 	position: fixed;
// 	border : 5px, solid black;
// }

// .N {
// 	border : 5px, solid black;
// }

// .pong_title .G {
// 	border : 5px, black;
// }

#ball {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: rgb(34, 195, 178);
	position: absolute;
	box-shadow: inset 5px 2px 3px rgb(255, 255, 255), 7px 15px 2px rgba(0, 0, 0, 0.632);
	animation: moveX 3s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
}

#ball1 {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: rgb(34, 195, 178);
	position: absolute;
	box-shadow: inset 5px 2px 3px rgb(255, 255, 255), 7px 15px 2px rgba(0, 0, 0, 0.632);
	animation: moveY 3s linear 0s infinite alternate, moveX 3.4s linear 0s infinite alternate;
}

@keyframes moveX {
	from { left: 0; } to { left: 250px; }
}

@keyframes moveY {
	from { top: 0; } to { top: 69px; }
}

#connection-button {
position: fixed;
top: 15px;
left: 1000px;
width: 180px;
height: 50px;
background-color: rgba(0, 0, 0, 0.3);
cursor: pointer;
}

#tv-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 85vh;
	width: 100vw;
	background-color: transparent;
	background-size: 100% 100%;
	border-radius: 5vmin;
}

#nav-home-bottom {
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	position: fixed;
	bottom: 0px;
	margin-bottom: -1px;
	width: 100%;
	background: linear-gradient(to bottom, #f63192, #6c4fef);
	padding: 10px;
	border-radius: 20px 20px 0 0;
	background-color: transparent;
}

.howtoplay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 98%;
	text-align: center;
}
