{% load static %}

<div id="tv-login-content" class="text-center tv-content">
	<form class="login-form" action="/login/" method="post">
		{% csrf_token %}
		<fieldset>
			<input name="username" class="input-pong my-1" type="text" placeholder="Username" required>
			<input name="password" class="input-pong my-1" type="password" placeholder="Password" required>
			
			<div id="login-btn-group" class="mt-1">
				<button id="login-submit-btn" name="login-submit" class="btn btn-primary buttonPong" type="submit">
					<span>Log in</span>
				</button>
			
				<button id="signin-btn" name="signin" class="btn btn-success pong-btn-success" type="submit" formnovalidate>
					<span>Sign in</span>
				</button>
			</div>
		</fieldset>
		<hr />
		<fieldset>
			<button id="42auth-btn" name="42auth" class="btn btn-primary buttonPong w-100" type="submit" formnovalidate>
				<span>Login with 42</span>
			</button>
		</fieldset>
		{% comment %}
		<button id="guest-btn" name="guest" class="btn buttonStyle buttonPong w-100" type="submit">
			<span style="font-size: 2rem;">Continue as guest</span>
		</button>
		{% endcomment %}
	</form>
</div>

{% if error %}
<div id="auth-error-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="AuthErrorModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content alert alert-danger">
			<div class="modal-body">
				<p><strong>{{ error }}</strong></p>
			</div>
			<button type="button" class="btn btn-light" data-dismiss="modal">Oh...</button>
		</div>
	</div>
</div>
{% endif %}

<script>
$(document).ready(function(){
	// Check if the modal element exists in the DOM
	if ($('#auth-error-modal').length) {
		$('#auth-error-modal').appendTo('body').modal('show');

		$(document).on('click', '#auth-error-modal .btn', function() {
			$('#auth-error-modal').modal('hide');
		});
	}
});
</script>