<div id="tv-login-content" class="text-center tv-content">
	{% csrf_token %}
	<button id="42auth_button" hx-get={% url 'authenticate' %} hx-target="#myModal" class="btn-primary buttonStyle buttonPong w-50 mx-5 mb-2" name="42auth">
		<span style="font-size: 2rem;">Login with 42</span>
	</button>
	<button id="guest_submit" class="btn-primary buttonStyle buttonPong w-50 mx-5 mb-2" type="submit" name="guest">
		<span style="font-size: 2rem;">Continue as guest</span>
	</button>
	<!--<div id="myModal" class="modal">
		<div class="modal-content">
			
		</div>
	</div>-->
</div>