{% load static %}

<div id="tv-login-content" class="text-center tv-content">
	<form action="/login/" method="get">
		{% csrf_token %}
		<button id="42auth_button" class="btn buttonStyle buttonPong w-50 mx-5 mb-2" name="42auth" type="submit">
			<span style="font-size: 2rem;">Login with 42</span>
		</button>
		<button id="guest_submit" class="btn buttonStyle buttonPong w-50 mx-5 mb-2" type="submit" name="guest">
			<span style="font-size: 2rem;">Continue as guest</span>
		</button>
	</form>
</div>

