{% extends "home.html" %}
{% load static %}
{% block title %}
    Login
{% endblock %}

{% block content %}
    <!DOCTYPE html>
    <body>
        <div class="div-bordure">
            <img class="img-profil" src="{% static 'images/imgloging.png' %}" alt="img-login">
            <div id="login-container">
                <form action="/login/" method="get">
                    {% csrf_token %}
                        <button class="btn btn-primary form-button" style="margin: 0 30px;border: 3px solid #072949;border-radius: 15px;" type="submit" id="42auth_button" name="42auth">Login with 42</button>
                        <button class="btn btn-primary form-button" style="margin: 0 30px;border: 3px solid #072949;border-radius: 15px;" type="submit" id="guest_submit" name="guest">Continue as guest</button>
                </form>
            </div>
        </div>
		<!--
        <table align="center">
			<tr>
				<td><button name="42auth" type="submit" id="42auth_button" style="width: 100%">login with 42</button></td>
				<td><button name="guest" type="submit" id="guest_submit" style="width: 100%">continue as guest</button></td>
			</tr>
		</table>-->
    </body>
{% endblock %}

