{% extends "home.html" %}
{% load static %}
{% block title %}
    Login
{% endblock %}

{% block content %}
    <!DOCTYPE html>
    <!--<body>
        <div class="div-bordure">-->
            <!--<img class="img-profil" src="{% static 'images/imgloging.png' %}" alt="img-login">-->
        	<div id="tv-login-content" class="text-center tv-content">
				<form action="/login/" method="get" class="btn-group w-100 h-100">
           	    	{% csrf_token %}
           	        	<button id="42auth_button" class="btn-primary buttonStyle buttonPong w-50 mx-5 mb-2" type="submit" name="42auth">
							<span style="font-size: 2rem;">Login with 42</span>
						</button>
                    	<button id="guest_submit" class="btn-primary buttonStyle buttonPong w-50 mx-5 mb-2" type="submit" name="guest">
							<span style="font-size: 2rem;">Continue as guest</span>
						</button>
            	</form>
			</div>
		<!--</div>
        <table align="center">
			<tr>
				<td><button name="42auth" type="submit" id="42auth_button" style="width: 100%">login with 42</button></td>
				<td><button name="guest" type="submit" id="guest_submit" style="width: 100%">continue as guest</button></td>
			</tr>
		</table>
    </body>-->
{% endblock %}

