<nav id="nav-home-bottom" class="align-self-center">
	<a href="{% url 'pong' %}" hx-get="{% url 'pong' %}" hx-target="body" class="btn btn-primary buttonPong w-25" id="play">
		PLAY
	</a>
	<a href="{% url 'tournaments_stats' %}" hx-get="{% url 'tournaments_stats' %}" hx-target="body" class="btn btn-primary buttonPong w-25" id="tournament_stats">
		LEADERBOARD
	</a>
	<a href="{% url 'profiles' %}" hx-get="{% url 'profiles' %}" hx-target="body" class="btn btn-primary buttonPong w-25" id="profile">
		PROFIL
	</a>
</nav>
