<!-- Friend Request Modal -->
<div class="modal fade" id="friend-request-modal" tabindex="-1" role="dialog" aria-labelledby="friend-request-modal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header alert alert-success">
				<h5 class="modal-title" id="exampleModalLabel">Send friend request</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body text-center">
				<p>Please enter one of the following</p>
				<form id="friend-request-form" hx-post="{% url 'send_friend_request' %}" hx-target="#friend-request-modal .modal-footer" hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'>
					<input type="text" name="username" id="username-input" placeholder="Username" autocomplete="username" autofocus>
					<span> OR </span>
					<input type="text" name="uuid" id="uuid-input" placeholder="UUID" autocomplete="UUID">
					<hr />
					<button type="submit" class="btn btn-success w-100" onclick="return validateForm()">Send request</button>
				</form>
			</div>
			<div class="modal-footer text-center">
				{{ error }}
			</div>
		</div>
	</div>
</div>

<script>
	function validateForm() {
		var username = document.getElementById('username-input').value;
		var uuid = document.getElementById('uuid-input').value;

		if (!username && !uuid) {
			alert('Please enter either a username or a UUID.');
			/* Prevent form submission */
			return false;
		}

		/* Dismiss the modal */
		var modal = new bootstrap.Modal(document.getElementById('friend-request-modal'));
		modal.hide();

		/* Allow form submission */
		return true;
	}
</script>