/* ********************************************* */
/*                Main keyframes                 */
/* ********************************************* */
@keyframes slideUp {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes slideUpFar {
	from {
		transform: translateY(700%);
	}
	to {
		transform: translateY(0);
	}
}