{%  load static %}
<div class="tv-content-profile">
    {%  if user.nickname %}
	    <h1>{{ user.nickname }}</h1>
    {% else %}
        <h1>{{ user.username }}</h1>
    {%  endif %}
	<div id="choice-div" class="rounded-5 border border-info border-3">
		<img id="choice-img" class="rounded-5 border border-info border-3" src="{{ user.upload_image }}" alt="player-profile">
	</div>
	<h3 class="h4lol"><br>
		GAME PLAYED : {{ user.stats.games_played }}<br><br>
		<br>
		WIN COUNT : {{ user.stats.wins }}<br><br>
        <br>
        LOOSE COUNT : {{ user.stats.losses }}<br><br>
	</h3>
    <div id="profile-leftside">
        <button type="button" class="bottom-edit btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Edit image
        </button>
        <form action="{% url 'update_image' %}" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
{#            {% csrf_token %}#}
{#            {{ form.as_p }}#}
{#            <button type="submit" style="background-color: #8360c3;" class="btn btn-outline-info" >Upload image</button>#}
{#        </form>#}
    </div>
    <button type="button" class="bottom-edit2 btn btn-outline-info" hx-get="{% url 'match_history' %}" hx-target="#main-container" hx-push-url="true">MATCH HISTORY</button>
    <button type="button" class="bottom-edit btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#exampleModal">EDIT PROFILE</button>
</div>
{#<script>#}
{#    document.getElementById('avatarselect').addEventListener('change', function() {#}
{#        var selectedValue = this.value;#}
{#        if (selectedValue !== "Default Avatar") {#}
{#            var url = "{% url 'get_image_url' %}";#}
{#            fetch(url, {#}
{#                method: 'POST',#}
{#                headers: {#}
{#                    'Content-Type': 'application/json',#}
{#                    'X-CSRFToken': '{{ csrf_token }}'#}
{#                },#}
{#                body: JSON.stringify({ 'avatarselect': selectedValue })#}
{#            })#}
{#            .then(response => response.json())#}
{#			.then(data => {#}
{#				document.getElementById('choice-img').src = data.image_url;#}
{#            })#}
{#            .catch(error => console.error('Error:', error));#}
{#		}#}
{#    });#}
{#</script>#}
