{%  load static %}
<div class="tv-match-history">
    <div class="tv-left">
        <button type="button" class="bottom-edit3 btn btn-outline-info" hx-get="{% url 'match_history' %}" hx-target="#main-container" hx-push-url="true">1 VS 1 HISTORY</button>
        <h2>Tournaments History</h2>
    </div>
    <div class="table-cont">
        <table class="table table-inside">
            <thead>
                <tr>
                    <th>User</th>
                    <th>User Score</th>
                    <th>Opponent</th>
                    <th>Opponent Score</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>
                {% for match in matches %}
                <tr class="{% if match.player1_score > match.player2_score %}table-success{% else %}table-danger{% endif %}">
                    <td>{{ match.player1 }}</td>
                    <td>{{ match.player1_score}}</td>
                    <td>{{ match.player2 }}</td>
                    <td>{{ match.player2_score}}</td>
                    <td>{{ match.game_duration }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>