#tv-login-content
{
	position: absolute;
	width: 30rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#alert-error {
	z-index: 1;
	border-radius: 2rem 2rem 0 0;
	height: 7rem;
	margin-bottom: -3rem;
	font-size: 1.3rem;
	animation: slideUpFar 0.8s ease-out;
}

#login-form {
	z-index: 2;
	position: relative;
	width: 100%;
	padding: 1rem;
	border-radius: 2rem;
	background: linear-gradient(to bottom, #f63192, #6c4fef);
	animation: slideUp 0.5s ease-out forwards;
	box-shadow: black 0.5vmin 0.5vmin 1vmin;
}

#login-form input[type=text], input[type=password] {
	width: 100%;
	height: 4rem;
	display: inline-block;
	box-sizing: border-box;
}

#login-form button span {
	font-size: 2rem;
}

#login-submit-btn {
	float: left;
	width: 65%;
}

#signup-btn {
	float: right;
}

.container {
	width: 28rem;
	font-weight: bold;
	color: white;
}