{% load static %}
{% load i18n %}

{% if hx_push_url %}
<script hx-push-url="{{ hx_push_url }}"></script>
{% endif %}

<div id="startgame_bigger_container">
	<div class="startgame_container d-flex" id="startgame_container">
		<input type="text" placeholder="Player 2" required class="startgame_playerform" id="player2name">
		<button id="tournament_Button" class="btn startgame_btn">{% trans "Begin tournament" %}</button>
		<button id="player2nameButton" class="btn startgame_btn">{% trans "Start the game" %}</button>
		<button class="btn_setting" id="modeTwo">{% trans "Game Settings" %}</button>
	</div>
	<div class="container_setting_pong" id="setting_pong">
		<div class="form-check form-switch">
			<input class="form-check-input switch_mode" type="checkbox" role="switch" id="flexSwitchCheckDefault">
			<label class="form-check-label text_startgame1" for="flexSwitchCheckDefault">{% trans 'Ball Speedup Mode' %}</label>
		</div>
		<input type="range" min="1" max="10" value="5" id="speedBall" class="slider" style="background-color:  violet">
		<span id="speedBallValue" class="slider_text">{% trans "Ball Speed" %}</span>
		<input type="range" min="1" max="10" value="5" id="sizePaddle" class="slider1">
		<span id="sizePaddleValue" class="slider_text1">{% trans "Paddle Size" %}</span>
		<input type="range" min="1" max="10" value="5" id="speedPaddle" class="slider2">
		<span id="speedPaddleValue" class="slider_text2">{% trans "Paddle Speed" %}</span>
	</div>
</div>

<script>
	function yolo() {
		let urlArray = new URL(window.location.href).pathname.split("/");
		let modedici = urlArray.pop() || urlArray.pop();
		if (modedici == "tournament") {
			document.getElementById('tournament_Button').style.display = 'block';
			document.getElementById('player2name').style.display = 'none';
			document.getElementById('player2nameButton').style.display = 'none';
		}
	}
	yolo();
</script>
<script>

	var host_name = '{{ user.username }}';
	var player1 = '{{ user.username }}';
	var player2 = '{{ player2 }}';
	var player3 = '{{ player3 }}';
	var player4 = '{{ player4 }}';
	var player5 = '{{ player5 }}';
	var player6 = '{{ player6 }}';
	var player7 = '{{ player7 }}';
	var player8 = '{{ player8 }}';
	var name_player2 = 'Player 2';

	var save_game;
	var save_tournament;
	var set_user_status;

	var speedBall;
	var sizePaddleSlider;
	var speedPaddleSlider;
	var modeTwo;
	var startgameContainer;

	function init() {
		speedBall = document.getElementById('speedBall');
		sizePaddleSlider = document.getElementById('sizePaddle');
		speedPaddleSlider = document.getElementById('speedPaddle');
		modeTwo = document.getElementById('modeTwo');
		startgameContainer = document.getElementById('startgame_container');
		player2name = document.getElementById('player2name');
		player2nameButton = document.getElementById('player2nameButton');

		let urlArray = new URL(window.location.href).pathname.split("/");
		let mode = urlArray.pop() || urlArray.pop();
		save_game = '{% url "game_save" %}';
		save_tournament = '{% url "tournament_save" %}';
		set_user_status = '{% url "set_user_status" %}';
		speedBall.style.display = 'none';
		sizePaddleSlider.style.display = 'none';
		speedPaddleSlider.style.display = 'none';
		modeTwo.style.display = 'none';
		if (mode == 'pvp') {
			startgameContainer.style.display = 'flex';
			player2nameButton.style.display = 'block';
			player2name.style.display = 'flex';
			modeTwo.style.display = 'block';
		}
		if (mode == 'pve')
		{
			startgameContainer.style.display = 'flex';
			player2nameButton.style.display = 'block';
		}
		window.speedBallBase = 5;
		window.sizePaddleBase = 5;
		window.speedPaddleBase = 5;
		window.increaseMode = 0;

		window.speed = window.speedBallBase;
		window.sizePaddle = window.sizePaddleBase;
		window.speedPaddle = window.speedPaddleBase;
	}

	function startGame() {
		let urlArray = new URL(window.location.href).pathname.split("/");
		let mode = urlArray.pop() || urlArray.pop();

		if (mode == "pvp") {
			name_player2 = document.getElementById('player2name').value;
			if (name_player2.length > 10)
				name_player2 = name_player2.substring(0, 10);
			if (name_player2 != '') {
				document.getElementById('startgame_bigger_container').style.display = 'none';
				window.startGameFunctionPVP();
			}
			else {
				alert('Enter something 🤨')
				return;
			}
		} else if (mode == "pve") {
			name_player2 = "Glados"
			document.getElementById('startgame_bigger_container').style.display = 'none';
			window.startGameFunctionPVE();
		} else if (mode == 'tournament') {
			document.getElementById('tournament_Button').style.display = 'none';
			document.getElementById('startgame_bigger_container').style.display = 'none';
			window.startGameFunctionTournament();
		}
	}
	document.getElementById('tournament_Button').addEventListener('click', startGame);
	document.getElementById('player2nameButton').addEventListener('click', startGame);

		init();

		var startgameContainer = document.getElementById("startgame_container");
		var gameSettingButton = document.getElementById("modeTwo");
		var pongContainer = document.getElementById("setting_pong");

		// Add event listener to gameSettingButton
		gameSettingButton.addEventListener("click", function () {
			// Toggle the CSS classes
			startgameContainer.classList.toggle("animation_stc");
			pongContainer.classList.toggle("visible");
		});
		speedBall.addEventListener('input', function () {
			document.getElementById('speedBallValue').textContent = speedBall.value;
			window.speed = speedBall.value;
		});
		sizePaddleSlider.addEventListener('input', function () {
			document.getElementById('sizePaddleValue').textContent = sizePaddleSlider.value;
			window.sizePaddle = sizePaddleSlider.value;
		});
		speedPaddleSlider.addEventListener('input', function () {
			document.getElementById('speedPaddleValue').textContent = speedPaddleSlider.value;
			window.speedPaddle = speedPaddleSlider.value;
		});
		modeTwo.addEventListener('click', function () {
			speedBall.style.display = 'block';
			sizePaddleSlider.style.display = 'block';
			speedPaddleSlider.style.display = 'block';
			startgameContainer.style.display = 'block';
		});

</script>

<canvas id="pongCanvas"></canvas>
<script type="module" src="{% static 'pong/js/pong.js' %}" defer></script>
