* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	position: relative;
	height: 100%;
	width: 100%;
    background-image: url("../images/backg_pong.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

html, body {
	height: 100%;
	width: 100%;
}

.btn-primary {
	width: 15rem;
	font-size: 1.5rem;
}

/* Si vous souhaitez ajouter un espacement entre les boutons */
.form-button {
    margin-bottom: 20px; /* Ajustez l'espacement vertical selon vos besoins */
}

.button-image.play-button {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.button-image.play-button a {
    display: block;
    width: 220px;
    height: 50px;
    text-align: center;
    border: 3px solid #072949;
    border-radius: 15px;
    padding: 10px;
}

.tv-content {
	position: absolute;
	top: 50.8%;
	left: 50.1%;
	transform: translate(-50%, -50%);
	width: 96.6%;
	height: 87.7%;
	background-size: cover;
	background-position: center;
}

/*
.div-bordure {
    width: 1450px;
    height: 555px;
    top: 100px;
    left: 80px;
    position: fixed;
    overflow: hidden;
    display: flex; *//* Ajoutez display: flex pour activer le modèle de boîte flex */
	/*margin: auto;
    align-items: center;
    justify-content: center;
}*/

/* Vous pouvez également ajouter du style supplémentaire pour les éléments à l'intérieur de .howtoplay si nécessaire */
/* .howtoplay h1, .howtoplay h3, .howtoplay p {
    text-align: center; /* Centre le texte horizontalement */
    /* margin: 10px 0; Ajoute une marge pour l'espace entre les éléments */
/* } */

.buttonPong {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background-color: #333;
	border: none;
	overflow: hidden;
  }

  .buttonPong:before,
  .buttonPong:after {
	content: '';
	position: absolute;
	width: calc(100% + 10px);
	height: calc(100% + 10px);
	top: -5px;
	left: -5px;
	pointer-events: none;
	z-index: -1;
  }

  .buttonPong:before {
	background: linear-gradient(45deg, #ff00ff, #00ffff, #ff00ff, #00ffff);
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
  }

  .buttonPong:after {
	background: linear-gradient(135deg, #00ffff, #ff00ff, #00ffff, #ff00ff);
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
  }

  .buttonPong:hover:before,
  .buttonPong:hover:after {
	opacity: 1;
  }

  .buttonStyle {
	background-color: rgba(0, 0, 0, 0.3);
	border: 3px solid #072949;
	border-radius: 15px;
  }


