// style_profile.scss

.tv-match-history {
    position: fixed;
    //overflow: hidden;
    z-index: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row; /* Les enfants seront disposés en colonnes */
    align-items: flex-start; /* Aligner les éléments en haut */
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    background-size: cover;
    background-position: center;
    border: 7px solid #ff2ffc;
    animation: borderChange 10s linear infinite alternate;
}

.tv-match-history .tv-left {
    padding-left: 5px;
    flex: 0 0 auto;
    width: 22%;
    height: 100%;
}

.table-cont {
    padding-left: 10px;
    position: relative;
    display: flex;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
}

.table-inside {
    border-left: 4px solid #ff2ffc;
}

.table-success {
    background-color: #c3e6cb; /* Green background for wins */
}

.table-danger {
    background-color: #f5c6cb; /* Red background for losses */
}

.history-title {
    margin-left: 10px;
}

.tv-content-profile {
    position: absolute;
    overflow: hidden;
    z-index: 0;
    display: flex;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("/static/profile/images/profilebackg.png");
    background-size: cover;
    background-position: center;
    border: 7px solid #ff2ffc;
    animation: borderChange 10s linear infinite alternate;
}

@keyframes borderChange {
    0% {
        border-color: #ff2ffc; /* Couleur initiale de la bordure */
    }

    100% {
        border-color: #2f7bff; /* Nouvelle couleur de la bordure à 100% de l'animation */
    }
}

  @keyframes shine2 {
	  0% {
		  color: #90d4fa;
		  text-shadow: 0 0 10px rgba(3, 0, 0, 0.8);
	  }
	  50% {
		  color: violet;
		  text-shadow: 0 0 20px rgba(154, 152, 152, 0.8);
	  }
	  100% {
		  color: pink;
		  text-shadow: 0 0 10px rgba(252, 250, 250, 0.8);
	  }
  }

  @keyframes bounce {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
  }

.tv-content-profile  h1 {
    font-weight: bold;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
    margin-top: 1.1rem;
    color: #ff2ffc;
    text-shadow: 3px 3px #000000;
    animation: shine2 10s linear infinite alternate, bounce 7s ease infinite;
}

.tv-content-profile #choice-div {
	position: absolute;
	width: 33%;
    height: 62%;
    top: 22%;
    left: 33%;
    overflow: hidden;
    z-index: 1;
    transition: background-color 0.6s ease;
}

#choice-div:hover {
    background-color: #7fb3d5;
}

@keyframes electrify {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

#choice-div::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #5090af, #7fb3d5, #ff2ffc); /* Dégradé de couleur */
    background-size: 200% 100%; /* Double largeur pour créer l'effet de défilement */
    animation: electrify 3s linear infinite alternate;
    opacity: 0.7; /* Ajustez l'opacité comme vous le souhaitez */
}

#choice-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
	box-shadow: black 0.8vmin 0.8vmin 2vmin;
    transform: scale(0.9);
    z-index: 2;
    transition: transform 0.8s ease;
}

#choice-img:hover {
    transform: rotate(1deg);
}

.tv-content-profile .h4lol {
    position: absolute;
    left: 76%;
    top: 23%;
    animation: shine2 10s linear infinite alternate, bounce 7s ease infinite;
}

.tv-content-profile #profile-leftside {
    position: absolute;
    top: 12vh;
    left: 7vw;
    display: block;
}


//.tv-content-profile #profile-leftside #avatarselect {
//    position: absolute;
//    top: 7vh;
//    width: 7rem;
//}


.bottom-edit {
    z-index: 9;
    position: absolute;
    width: 8rem;
    bottom: 5%;
    left: 8%;
    background-color: #8360c3;
    margin-bottom: 10px; /* Espacement entre les boutons */
}

.bottom-edit2 {
    z-index: 9;
    position: absolute;
    width: 8rem;
    bottom: 25%;
    left: 8%;
    background-color: #8360c3;
    margin-bottom: 10px; /* Espacement entre les boutons */
}

.bottom-edit3 {
    z-index: 9;
    position: absolute;
    height: 4rem;
    width: 7rem;
    bottom: 28%;
    left: 6%;
    background-color: #8360c3;
    margin-bottom: 10px; /* Espacement entre les boutons */
}

.bottom-edit4 {
    z-index: 9;
    position: absolute;
    height: 3rem;
    width: 5rem;
    bottom: 42%;
    left: 6%;
    background-color: #8360c3;
    margin-bottom: 10px; /* Espacement entre les boutons */
}

.bottom-edit5 {
    z-index: 9;
    position: absolute;
    height: auto;
    width: auto;
    bottom: 57%;
    left: 6%;
    background-color: white;
    margin-bottom: 10px; /* Espacement entre les boutons */
}

//#match_history {
//    position: absolute;
//    width: 8rem;
//    top: 35%;
//    left: 8%;
//    background-color: #8360c3;
//    margin-top: 10px; /* Espacement entre les boutons */
//}

.glitch {
  color: white;
  //font-size: 100px;
  position: relative;
  //width: 400px;
  margin: 0 auto;
  animation: noise-anim-2 3s infinite linear alternate-reverse;

}

@keyframes noise-anim {
  0% {
    clip: rect(2px, 9999px, 60px, 0);
  }
  5% {
    clip: rect(77px, 9999px, 70px, 0);
  }
  10% {
    clip: rect(94px, 9999px, 26px, 0);
  }
  15% {
    clip: rect(18px, 9999px, 88px, 0);
  }
  20% {
    clip: rect(23px, 9999px, 37px, 0);
  }
  25% {
    clip: rect(84px, 9999px, 70px, 0);
  }
  30% {
    clip: rect(13px, 9999px, 38px, 0);
  }
  35% {
    clip: rect(26px, 9999px, 75px, 0);
  }
  40% {
    clip: rect(82px, 9999px, 8px, 0);
  }
  45% {
    clip: rect(93px, 9999px, 37px, 0);
  }
  50% {
    clip: rect(20px, 9999px, 5px, 0);
  }
  55% {
    clip: rect(18px, 9999px, 89px, 0);
  }
  60% {
    clip: rect(23px, 9999px, 44px, 0);
  }
  65% {
    clip: rect(71px, 9999px, 89px, 0);
  }
  70% {
    clip: rect(2px, 9999px, 81px, 0);
  }
  75% {
    clip: rect(64px, 9999px, 38px, 0);
  }
  80% {
    clip: rect(45px, 9999px, 92px, 0);
  }
  85% {
    clip: rect(73px, 9999px, 10px, 0);
  }
  90% {
    clip: rect(4px, 9999px, 70px, 0);
  }
  95% {
    clip: rect(4px, 9999px, 62px, 0);
  }
  100% {
    clip: rect(60px, 9999px, 18px, 0);
  }
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(40px, 9999px, 52px, 0);
  }
  5% {
    clip: rect(56px, 9999px, 64px, 0);
  }
  10% {
    clip: rect(49px, 9999px, 22px, 0);
  }
  15% {
    clip: rect(71px, 9999px, 94px, 0);
  }
  20% {
    clip: rect(1px, 9999px, 73px, 0);
  }
  25% {
    clip: rect(85px, 9999px, 13px, 0);
  }
  30% {
    clip: rect(91px, 9999px, 52px, 0);
  }
  35% {
    clip: rect(58px, 9999px, 69px, 0);
  }
  40% {
    clip: rect(76px, 9999px, 38px, 0);
  }
  45% {
    clip: rect(87px, 9999px, 77px, 0);
  }
  50% {
    clip: rect(47px, 9999px, 16px, 0);
  }
  55% {
    clip: rect(86px, 9999px, 59px, 0);
  }
  60% {
    clip: rect(42px, 9999px, 72px, 0);
  }
  65% {
    clip: rect(35px, 9999px, 79px, 0);
  }
  70% {
    clip: rect(77px, 9999px, 52px, 0);
  }
  75% {
    clip: rect(100px, 9999px, 47px, 0);
  }
  80% {
    clip: rect(54px, 9999px, 65px, 0);
  }
  85% {
    clip: rect(26px, 9999px, 28px, 0);
  }
  90% {
    clip: rect(48px, 9999px, 7px, 0);
  }
  95% {
    clip: rect(60px, 9999px, 58px, 0);
  }
  100% {
    clip: rect(12px, 9999px, 2px, 0);
  }
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
