<div id="tv-content-tourn-stats">
	<div id="title-div">
		<h1 id="title-tournaments">Tournament Stats</h1>
	</div>
	<div class="center hover-bigger">
		<div class="loadingtry">
		</div>
		<div class="custom-table" >
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Position</th>
						<th scope="col">Players count</th>
						<th scope="col">Date</th>
					</tr>
				</thead>
				<thead>
					{% for tournament in tournaments %}
					<tr>
						<td>{{ tournament.name }}</td>
						{% for player in tournament.leaderboard.usernames %}
							{% if user.username == player %}
								<td>{{ forloop.counter }}</td>
							{% endif %}
						{% endfor %}
						<td>{{ tournament.players_count }}</td>
						<td>{{ tournament.date }}</td>
					</tr>
					{% endfor %}
				</thead>
			</table>
		</div>
	</div>
</div>
<script type="text/javascript">
	document.body.addEventListener('htmx:afterSwap', drawChart);

	google.charts.load("current", {packages:["corechart"]});
	google.charts.setOnLoadCallback(drawChart);
	function drawChart() {
		var dataFromDjango = JSON.parse(document.getElementById('data_for_template').textContent);

		var maxVictoires = 0;
		var maxDefaites = 0;

		dataFromDjango.forEach(function(player) {
			var victoires = parseInt(player.victoires);
			var defaites = parseInt(player.defaites);

			if (victoires > maxVictoires){
				maxVictoires = victoires;
			}

			if (defaites > maxDefaites) {
				maxDefaites = defaites;
			}
		});

		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Player');
		data.addColumn('number', 'Défaites');
		data.addColumn('number', 'Victoires');
		data.addColumn('number', 'Ratio');
		data.addColumn('number', 'Taille de la bulle');

		dataFromDjango.forEach(function(player) {
			if (player.victoires !== 0 && player.defaites !== 0) {
				var playerName = player.username;
				var victoires = parseInt(player.victoires);
				var defaites = parseInt(player.defaites);
				var partiesJouees = victoires + defaites;

				var ratioPerformance = (partiesJouees !== 0) ? (victoires / partiesJouees) * 100 : 0;
				var tailleBulle = Math.sqrt(partiesJouees) * (ratioPerformance + 1);


				data.addRow([playerName, defaites, victoires, ratioPerformance, tailleBulle]);
			}
		});

		var options = {
			hAxis: {
				gridlines: { color: 'transparent' },
				baselineColor: 'transparent',
				textPosition: 'none',
			},
			vAxis: {
				gridlines: { color: 'transparent' },
				baselineColor: 'transparent',
				textPosition: 'none'
			},
			backgroundColor: 'transparent',
			colors: ['#FFFFFF', '#9900FF'],
			bubble: {
				textStyle: {
					fontSize: 14,
					auraColor: 'none',
				}
			}
		};

		var chart = new google.visualization.BubbleChart(document.getElementById('chart_div'));
		chart.draw(data, options);

		google.visualization.events.addListener(chart, 'ready', function() {
		maxVictoires += 4;
		maxDefaites += 4;

		chart.getChart().getOptions().hAxis.viewWindow.max = maxVictoires;
		chart.getChart().getOptions().vAxis.viewWindow.max = maxDefaites;

		chart.draw(data, options);
		});

	}
</script>
<div id="data_for_template" style="display: none;">
	{{ users_stats | json_script }}
</div>
<div id="chart_div_container" class="chart-container ">
    <div id="chart_div"></div>
	<div id="area_chart_div"></div>
</div>








