{% load static %}
{#{% load messages %}#}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Transcendence</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon_purple.png' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Honk&family=Shadows+Into+Light&display=swap" rel="stylesheet">
	<script type="importmap">
		{
		  "imports": {
			"three": "https://unpkg.com/three@v0.161.0/build/three.module.js",
			"three/addons/": "https://unpkg.com/three@v0.161.0/examples/jsm/"
			}
		}
	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous">
	</script>
	<script src="{% static 'js/htmx.min.js' %}" defer></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	<script src="{% static 'js/htmx.min.js' %}" defer></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>\

	<script src="{% url 'javascript-catalog' %}"></script>
	{% comment %} <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
	document.body.addEventListener('htmx:afterSwap', drawChart);

	  google.charts.load("current", {packages:["corechart"]});
	  google.charts.setOnLoadCallback(drawChart);
	  function drawChart() {
		// Récupérer les données depuis Django
		var dataFromDjango = JSON.parse('{{ data_from_django | escapejs }}'); // ici on recupere la bdd tournois et escapejs assure la securité

		// Créer le tableau de données pour Google Charts
		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Nom');
		data.addColumn('number', 'Victoires');
		data.addColumn('number', 'Défaites');
		data.addColumn('number', 'Ratio');
		data.addColumn({type: 'string', role: 'tooltip', 'p': {'html': true}});
		data.addColumn({type: 'string', role: 'style'});
		dataFromDjango.forEach(function(player) {
		  var ratio = player.victoires / player.defaites;
		  var tooltip = '<div style="padding:10px;"><img src="' + player.image + '" style="width:100px;height:100px;"><br>' + player.nom + '<br> Victoires: ' + player.victoires + '<br> Défaites: ' + player.defaites + '<br> Ratio: ' + ratio + '</div>';
		  var style = 'point { fill-color: ' + (ratio > 1 ? 'green' : 'red') + '; }';
		  data.addRow([null, player.victoires, player.defaites, ratio, tooltip, style]);
		});

		// Dessiner le graphique
		var options = {
		  colorAxis: {colors: ['yellow', 'red']},
		  bubble: {textStyle: {fontSize: 11}} // Taille du texte à l'intérieur des bulles
		};
		var chart = new google.visualization.BubbleChart(document.getElementById('chart_div'));
		chart.draw(data, options);
	  }
	</script> {% endcomment %}
	<script src="{% static 'home/js/friends_dropdown.js' %}" async></script>
</head>
<script>
    const myModal = document.getElementById('myModal')
    const myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', () => {
        myInput.focus()
    })
</script>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
	<div id="loading" style="display: none">Loading...</div>

	{% include 'top-nav.html' %}
<!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">EDIT IMAGE</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
            <form action="{% url 'update_image' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="new-img" class="form-label">UPLOAD YOUR IMAGE -> THEN EDIT YOUR PROFILE</label>
                        {{ form.as_p }}
    {#                    <button type="submit" style="background-color: #8360c3;" class="btn btn-outline-info" >Upload image</button>#}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" style="background-color: #8360c3;" class="btn btn-outline-info">Save</button>
                </div>
            </form>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">EDIT PROFILE</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div><form action="{% url 'update_profile' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-body">
{#            {% if messages %}#}
{#                <ul class="messages">#}
{#                    {% for message in messages %}#}
{#                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#                {% messages %}#}
{#            {% endif %}#}
                    <div class="mb-3">
                        <label for="new-nickname" class="form-label">Nickname</label>
                        <input type="text" class="form-control" id="new-nickname" name="new_nickname" placeholder="Enter new nickname">
                    </div>
                    <div class="mb-3">
                        <label for="new-password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="new-password" name="new_password" placeholder="Enter new password">
                    </div>
                    <div class="mb-3">
                        <label for="new-picture" class="form-label">Profile Picture</label>
                        <select id="avatarselect" name="avatarselect" class="form-select">
                            <option selected value="0">Choose picture..</option>
                            <option value="1">John Doe</option>
                            <option value="2">Bunny Bang</option>
                            <option value="3">42 Profile</option>
                            {% if user.upload_image %}
                                <option value="4">Uploaded</option>
                            {% endif %}
                        </select>
                    </div>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div></form>
        </div>
      </div>
    </div>
	<div id="main-container">
		{% block content %}{% endblock %}
	</div>
	{% include 'bottom-nav.html' %}

	{% include 'friend_request_modal.html' %}
</body>
</html>
