@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.btn-primary {
  width: 15rem;
  font-size: 1.5rem;
}

/* Si vous souhaitez ajouter un espacement entre les boutons */
.form-button {
  margin-bottom: 20px; /* Ajustez l'espacement vertical selon vos besoins */
}

.button-image.play-button a {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.button-image.play-button {
  display: block;
  width: 220px;
  height: 50px;
  text-align: center;
  border-radius: 15px;
  padding: 10px;
}

.tv-content {
  position: absolute;
  top: 40.8%;
  left: 50.1%;
  transform: translate(-50%, -50%);
  max-width: 96.6%;
  max-height: 87.7%;
  background-size: cover;
  background-position: center;
}

.buttonPong {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  border: 3px solid #072949;
  border-radius: 15px;
  overflow: hidden;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.buttonPong:hover, .buttonPong:focus {
  background: linear-gradient(45deg, #ff00ff, #00ffff, #ff00ff, #00ffff);
  border-color: #072949; /* Couleur de la bordure lorsque survolé */
}

#tv-login-content {
  background-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url("/static/home/images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

html, body {
  height: 100%;
  width: 100%;
}

#home-button {
  position: fixed;
  top: 10px; /* Ajustez la position verticale selon vos besoins */
  left: 10px; /* Ajustez la position horizontale selon vos besoins */
  width: 360px; /* Ajustez la largeur selon vos besoins */
  height: 73px; /* Ajustez la hauteur selon vos besoins */
  background-color: transparent;
  cursor: pointer;
}

#connection-button {
  position: fixed;
  top: 15px; /* Ajustez la position verticale selon vos besoins */
  left: 1000px; /* Ajustez la position horizontale selon vos besoins */
  width: 180px; /* Ajustez la largeur selon vos besoins */
  height: 50px; /* Ajustez la hauteur selon vos besoins */
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#tv-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70vh;
  width: 100vw;
  background-color: transparent;
  background-size: 100% 100%;
  border-radius: 5vmin;
}

/* ... Autres styles ... */
#nav-home-bottom {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  position: fixed;
  bottom: 10px;
  margin-bottom: -1px;
  width: 100%;
  background: linear-gradient(to bottom, #f63192, #6c4fef);
  /*background-color: #6c14fa; !* Ajoutez une couleur de fond pour le menu si nécessaire *!*/
  padding: 10px 0; /* Ajoutez un espace autour des boutons si nécessaire */
  border-radius: 20px;
}

#nav-home-bottom a {
  background-color: transparent;
}

.howtoplay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 98%;
  text-align: center;
  /* align-items: center; Centre le contenu verticalement */
  /* justify-content: center; Centre le contenu horizontalement */
  /* Aucun besoin de position: absolute; */
  /*align-items: center; (pas nécessaire ici, car cela s'applique aux enfants de .howtoplay) */
  /*justify-content: center; (pas nécessaire ici, car cela s'applique aux enfants de .howtoplay) */
}

#tv-content-pong {
  background-image: url(/static/pong/images/playbackground.png);
}

#nav-pong a {
  border: 0.5vmin solid #072949;
  border-radius: 0.5vmax;
  background-color: rgba(0, 0, 0, 0.3);
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60vh;
  width: 80vw;
  background-size: 100% 100%;
  border-radius: 5vmin;
  background: linear-gradient(180deg, #8360c3, #2ebf91);
}

#tv-content-tourn-stats {
  background-image: url(/static/tournaments_stats/images/podium.png);
}

#tv-content-profile {
  background-image: url(/static/profile/images/profile.png);
}

/*# sourceMappingURL=style.css.map */
