{% load i18n %}

<div class="container_signup">
    <form class="mt-4" method="POST" action="{% url 'signup' %}">
        {% csrf_token %}

        {{ form.username.label_tag }}
        {{ form.username }}

        {% if request.method == "POST" and form.username.errors %}
            {% for error in form.username.errors %}
                <p class="alert alert-danger">{{ error }}</p>
            {% endfor %}
        {% endif %}

        {{ form.email.label_tag }}
        {{ form.email }}

        {{ form.password1.label_tag }}
        {{ form.password1 }}

        {% if request.method == "POST" and form.password1.errors %}
            {% for error in form.password1.errors %}
                <p class="alert alert-danger">{{ error }}</p>
            {% endfor %}
        {% endif %}

        {{ form.password2.label_tag }}
        {{ form.password2 }}

        {% if request.method == "POST" and form.password2.errors %}
            {% for error in form.password2.errors %}
                <p class="alert alert-danger">{{ error }}</p>
            {% endfor %}
        {% endif %}
        <button class="btn btn_signup" type="submit">{% trans 'Sign up' %}</button>
    </form>
</div>
