<div class="container_signup">
    <form class="mt-4" method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
        
        {{ form.username.label_tag }}
        {{ form.username }}
        
        {{ form.email.label_tag }}
        {{ form.email }}
        
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        
        {% for error in form.password1.errors %}
            <p class="alert alert-danger">{{ error }}</p>
        {% endfor %}
        
        {{ form.password2.label_tag }}
        {{ form.password2 }}
        {% for error in form.password2.errors %}
            <p class="alert alert-danger">{{ error }}</p>
        {% endfor %}
        <button class="btn btn_signup" type="Sign Up">Submit</button>
    </form>
</div>
