* {
	margin: 0;
	padding: 0;
}

:root {
	--alert-danger-bg: #b60012;
	--alert-danger-text: #ffffff;
}

.tv-content {
	position: absolute;
	top: 40.8%;
	left: 50.1%;
	transform: translate(-50%, -50%);
	max-width: 96.6%;
	max-height: 87.7%;
	background-size: cover;
	background-position: center;
}

.buttonPong {
	position: relative;
	display: inline-block;
	font-size: 1.2rem;
	text-align: center;
	text-decoration: none;
	color: #ffff;
	background-color: rgba(0, 0, 0, 0.3);
	border: 0.3rem solid #072949;
	border-radius: 1.5rem;
	overflow: hidden;
	-webkit-text-stroke: 0.05rem white;
	text-shadow: black 0.5rem 0.5rem 1rem;
}

.buttonPong:hover, .buttonPong:focus {
	-webkit-text-stroke: 0.05rem black;
	background: linear-gradient(45deg, #ff00ff, #00ffff, #ff00ff, #00ffff);
	border-color: #072949; /* Couleur de la bordure lorsque survolé */
}

.pong-btn-success {
	position: relative;
	display: inline-block;
	font-size: 1.2rem;
	text-align: center;
	text-decoration: none;
	color: #ffff;
	background-color: rgba(36, 156, 0, 0.562);
	border: 0.3rem solid #124907;
	border-radius: 1.5rem;
	overflow: hidden;
	-webkit-text-stroke: 0.05rem white;
	text-shadow: black 0.5rem 0.5rem 1rem;
}

.pong-btn-success:hover, .pong-btn-success:focus {
	-webkit-text-stroke: 0.05vmin black;
	background: linear-gradient(45deg, #15ff00, #b3ff00, #15ff00, #b3ff00);
	border-color: #308f0a;
}

.input-pong {
	border: 0.3rem solid #072949;
	border-radius: 1.5rem;
	padding: 1rem;
	font-size: 1.5rem;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

/* Bootstrap values overrides */
.alert-danger {
	background-color: var(--alert-danger-bg);
	color: var(--alert-danger-text);
}
