* {
	margin: 0;
	padding: 0;
}

.btn-primary {
	width: 15rem;
	font-size: 1.5rem;
}

/* Si vous souhaitez ajouter un espacement entre les boutons */
.form-button {
	margin-bottom: 20px; /* Ajustez l'espacement vertical selon vos besoins */
}

.button-image.play-button a {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.button-image.play-button {
	display: block;
	width: 220px;
	height: 50px;
	text-align: center;
	border-radius: 15px;
	padding: 10px;
}

.tv-content {
	position: absolute;
	top: 40.8%;
	left: 50.1%;
	transform: translate(-50%, -50%);
	max-width: 96.6%;
	max-height: 87.7%;
	background-size: cover;
	background-position: center;
}

.buttonPong {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    border: 3px solid #072949;
    border-radius: 15px;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.buttonPong:hover, .buttonPong:focus {
    background: linear-gradient(45deg, #ff00ff, #00ffff, #ff00ff, #00ffff);
    border-color: #072949; /* Couleur de la bordure lorsque survolé */
}




