<div id="tv-content-tourn-stats">
	<div id="title-div">
		<h1 id="title-tournaments">Tournament Stats</h1>
	</div>
	<div class="center hover-bigger">
		<div class="loadingtry">
		</div>
		<div class="custom-table" >
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Position</th>
						<th scope="col">Players count</th>
						<th scope="col">Date</th>
					</tr>
				</thead>
				<thead>
					{% for tournament in tournaments %}
					<tr>
						<td>{{ tournament.name }}</td>
						{% for player in tournament.leaderboard.usernames %}
							{% if user.username == player %}
								<td>{{ forloop.counter }}</td>
							{% endif %}
						{% endfor %}
						<td>{{ tournament.players_count }}</td>
						<td>{{ tournament.date }}</td>
					</tr>
					{% endfor %}
				</thead>
			</table>
		</div>
	</div>
	<div id="bottom-btn" class="btn-group dropup">
		<button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
			Tournament Won
		</button>
		<ul class="dropdown-menu slide-down-animation">
			<li><a class="dropdown-item">Tournament 1</a></li>
			<li><a class="dropdown-item">Tournament 2</a></li>
			<li><a class="dropdown-item">Tournament 3</a></li>
		</ul>
	</div>
</div>
<script type="text/javascript">
	document.body.addEventListener('htmx:afterSwap', drawChart);

	google.charts.load("current", {packages:["corechart"]});
	google.charts.setOnLoadCallback(drawChart);
	function drawChart() {
		var dataFromDjango = JSON.parse(document.getElementById('data_for_template').textContent);

		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Player');
		data.addColumn('number', 'Victoires');
		data.addColumn('number', 'Défaites');
		data.addColumn('number', 'Ratio');
		data.addColumn('number', 'Taille de la bulle');

		dataFromDjango.forEach(function(player) {
			var playerName = player.username;
			var victoires = parseInt(player.victoires);
			var defaites = parseInt(player.defaites);
			var ratio = defaites !== 0 ? victoires / defaites : 0;
			var tailleBulle = victoires + defaites;
			data.addRow([playerName, victoires, defaites, ratio, tailleBulle]);
		});

		var options = {
			colorAxis: {colors: ['yellow', 'red']},
			bubble: {textStyle: {fontSize: 11}}
		};

		var chart = new google.visualization.BubbleChart(document.getElementById('chart_div'));
		chart.draw(data, options);
	}
</script>
<div id="data_for_template" style="display: none;">
	{{ users_stats | json_script }}
</div>
<div id="chart_div" style="width: 900px; height: 500px;"></div>






