<div id="tv-content-tourn-stats">
	<div id="title-div">
		<h1 id="title-tournaments">Tournament Stats</h1>
	</div>
	<div class="center hover-bigger">
		<div class="loadingtry">
		</div>
		<div class="custom-table" >
			<table class="table">
				<thead>
					<tr>
						<th scope="col"> Position </th>
						<th scope="col"> Name </th>
						<th scope="col"> Score </th>
						<th scope="col"> Win </th>
						<th scope="col"> Lost </th>
					</tr>
				</thead>
				<thead>
					<tr>
						<td>test</td>
						<td>test</td>
						<td>test</td>
						<td>test</td>
						<td>test</td>
					</tr>
				</thead>
			</table>
		</div>
	</div>
	<div id="bottom-btn" class="btn-group dropup">
		<button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
			Tournament Won
		</button>
		<ul class="dropdown-menu slide-down-animation">
			<li><a class="dropdown-item">Tournament 1</a></li>
			<li><a class="dropdown-item">Tournament 2</a></li>
			<li><a class="dropdown-item">Tournament 3</a></li>
		</ul>
	</div>
	<table class="columns">
		<tr>
		  <td><div id="Sarah_chart_div" style="border: 1px solid #ccc"></div></td>
		  <td><div id="Anthony_chart_div" style="border: 1px solid #ccc"></div></td>
		</tr>
	  </table>
</div>
    <!--Table and divs that hold the pie charts-->


	{% comment %} <html>
		<head>
		  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		  <script type="text/javascript">
			google.charts.load("current", {packages:["corechart"]});
			google.charts.setOnLoadCallback(drawChart);
			function drawChart() {
			  // Récupérer les données depuis Django
			  var dataFromDjango = JSON.parse('{{ data_from_django | escapejs }}'); // ici on recupere la bdd tournois et escapejs assure la securité

			  // Créer le tableau de données pour Google Charts
			  var data = new google.visualization.DataTable();
			  data.addColumn('string', 'Nom');
			  data.addColumn('number', 'Victoires');
			  data.addColumn('number', 'Défaites');
			  data.addColumn('number', 'Ratio');
			  data.addColumn({type: 'string', role: 'tooltip', 'p': {'html': true}});
			  data.addColumn({type: 'string', role: 'style'});
			  dataFromDjango.forEach(function(player) {
				var ratio = player.victoires / player.defaites;
				var tooltip = '<div style="padding:10px;"><img src="' + player.image + '" style="width:100px;height:100px;"><br>' + player.nom + '<br> Victoires: ' + player.victoires + '<br> Défaites: ' + player.defaites + '<br> Ratio: ' + ratio + '</div>';
				var style = 'point { fill-color: ' + (ratio > 1 ? 'green' : 'red') + '; }';
				data.addRow([null, player.victoires, player.defaites, ratio, tooltip, style]);
			  });

			  // Dessiner le graphique
			  var options = {
				colorAxis: {colors: ['yellow', 'red']},
				bubble: {textStyle: {fontSize: 11}} // Taille du texte à l'intérieur des bulles
			  };
			  var chart = new google.visualization.BubbleChart(document.getElementById('chart_div'));
			  chart.draw(data, options);
			}
		  </script>
		</head>
		<body>
		  <div id="chart_div" style="width: 900px; height: 500px;"></div>
		</body>
		</html> {% endcomment %}



