// style_home.scss

#home-button {
    position: fixed;
    top: 10px; /* Ajustez la position verticale selon vos besoins */
    left: 10px; /* Ajustez la position horizontale selon vos besoins */
    width: 360px; /* Ajustez la largeur selon vos besoins */
    height: 73px; /* Ajustez la hauteur selon vos besoins */
	background-color: transparent;
    cursor: pointer;
}

#connection-button {
    position: fixed;
    top: 15px; /* Ajustez la position verticale selon vos besoins */
    left: 1000px; /* Ajustez la position horizontale selon vos besoins */
    width: 180px; /* Ajustez la largeur selon vos besoins */
    height: 50px; /* Ajustez la hauteur selon vos besoins */
    background-color: rgba(0, 0, 0, 0.3);
	border: 3px solid #072949;
    cursor: pointer;
}

#main-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

#div-tele {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 60vh;
	width: 80vw;
	background-image: url(/static/home/images/borderr.png);
	background-size: 100% 100%;
}

/* ... Autres styles ... */
#nav-home-bottom {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: fixed;
    bottom: 10px;
    margin-bottom: -1px;
    width: 100%;
    background: linear-gradient(to bottom, #f63192, #6c4fef);
    /*background-color: #6c14fa; !* Ajoutez une couleur de fond pour le menu si nécessaire *!*/
    padding: 10px 0; /* Ajoutez un espace autour des boutons si nécessaire */
    border: 3px solid #072949;
    border-radius: 20px;
}

#nav-home-bottom a {
	border: 3px solid #072949;
	background-color: rgba(0, 0, 0, 0.3);
}

.howtoplay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 98%;
	text-align: center;
    /* align-items: center; Centre le contenu verticalement */
    /* justify-content: center; Centre le contenu horizontalement */
    /* Aucun besoin de position: absolute; */
    /*align-items: center; (pas nécessaire ici, car cela s'applique aux enfants de .howtoplay) */
    /*justify-content: center; (pas nécessaire ici, car cela s'applique aux enfants de .howtoplay) */
}