/* ********************************************* */
/*              Friends App Styles               */
/* ********************************************* */
#friend-request-modal .modal-dialog {
	position: relative;
	overflow: auto;
	top: 25%;
	border-radius: 2rem;
	background: linear-gradient(to bottom, #f63192, #6c4fef);
	animation: slideUp 0.5s ease-out forwards;
}

#friend-request-modal .modal-content {
	position: relative;
	border: solid 0.3rem #220022;
	border-radius: 1.7rem;
}

#friend-request-modal .modal-header {
	border-radius: 1.5rem 1.5rem 0 0;
}

#friend-request-modal .modal-footer {
	justify-content: center;
	border-radius: 1.5rem;
}

.friends-dropdown .dropdown-icon {
	width: 2rem;
	height: 100%;
	object-fit: cover;
}

.friends-dropdown .online {
	background-color: rgba(0, 255, 0, 0.3);
}

.friends-dropdown .ingame {
	background-color: rgba(255, 255, 0, 0.3);
}

.friends-dropdown .offline {
	background-color: rgba(0, 0, 0, 0.3);
}