<!-- Friend Request Modal -->
<div id="friend-request-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="friend-request-modal" aria-hidden="true">
	<div class="modal-dialog p-2" role="document">
		<div class="modal-content">
			<div class="modal-header alert alert-success">
				<h5 class="modal-title">Send friend request</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body text-center">
				<p>Please enter one of the following</p>
				<form id="friend-request-form" method="POST">
					<div class="form-header">
						{% csrf_token %}
					</div>
					<input type="text" name="username" placeholder="Username" autocomplete="username" autofocus>
					<span> OR </span>
					<input type="text" name="uuid" placeholder="UUID" autocomplete="UUID">
					<hr />
					<button type="button" class="btn btn-success w-100" onclick="validateForm()">Send request</button>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	function validateForm() {
		const friendRequestForm = document.getElementById('friend-request-form');
		const csrfToken = friendRequestForm.querySelector('[name=csrfmiddlewaretoken]').value;

		const formData = new FormData(friendRequestForm);

		if (!formData.get('username') && !formData.get('uuid')) {
			alert('Please enter either a username or a UUID.');
			/* Prevent form submission */
			return false;
		}

		fetch(`/friends/requests/send/`, {
			method: 'POST',
			headers: {
				'X-CSRFToken': csrfToken,
			},
			body: formData
		})
		.then(response => response.json())
		.then(data => {
			var modalFooter = document.querySelector('#friend-request-modal .modal-footer');
			if (!modalFooter) {
				modalFooter = document.createElement('div');
			}

			modalFooter.classList = [];
			modalFooter.classList.add('modal-footer', 'mx-5', 'alert');

			if (data.error) {
				modalFooter.textContent = data.error;
				modalFooter.classList.add('alert-danger');
			} else {
				modalFooter.textContent = data.success;
				modalFooter.classList.add('alert-success');
			}

			const modalContent = document.querySelector('#friend-request-modal .modal-content');
			modalContent.appendChild(modalFooter);
		})
		.catch(error => {
			console.error('Error sending friend request:', error);
		});

		/* Allow form submission */
		return true;
	}
</script>