#carousel-hub {
	position: relative;
	float: right;
	width: 50vw;
	height: 50vw;
	background-color: rgba($color: #000000, $alpha: 0.8);
}

.carousel-img {
	border-radius: 1vw;
	height: 5vw;
	width: 5vw !important;
	object-fit: cover;
}

@media (max-width: 768px) {
	.carousel-img {
		border-radius: 2vw;
		height: 10vw;
		width: 10vw !important;
	}
}

@media (max-width: 450px) {
	.carousel-img {
		border-radius: 3vw;
		height: 15vw;
		width: 15vw !important;
	}
}
