#carousel-hub {
	position: relative;
	width: 50%; /* Ajuster la largeur en pourcentage de l'écran */
	height: 50%; /* Ajuster la hauteur en pourcentage de l'écran */
	margin-top: 15%;
	margin-left: 25%;
	border-radius: 5rem;
	background-color: rgba(17, 0, 17, 0.8);
	color: white;
}

.carousel-content {
	padding: 10px; /* Ajouter un espacement autour du contenu */
	text-align: center;
}

.carousel-header {
	margin-bottom: 10px; /* Ajouter un espacement en bas du titre */
}

.carousel-header h1 {
	font-size: 3vw; /* Taille de police responsive */
}

.neonEffect {
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px rgb(255, 0, 230), 0 0 20px rgb(255, 0, 238), 0 0 30px rgb(234, 0, 255), 0 0 40px rgb(208, 0, 255), 0 0 50px rgb(157, 0, 255); /* Effet de néon */
	animation: neon-animation 1.5s infinite alternate;
}

@keyframes neon-animation {
	from {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
}

.carousel-body {
	width: 100%;
}

.carousel-body thead {
	background-color: rgba(0, 0, 0, 0.7);
}

.carousel-body td {
	padding: 10px;
}

.bio {
	font-size: 1vw;
}

.other-info {
	width: 33%;
	font-size: 1.5vw; /* Taille de police responsive */
}

.other-info img {
	width: 60%;
	height: auto; /* Assurer que l'image conserve son ratio */
}

.table-titles th {
	font-size: 1.5vw; /* Taille de police responsive */
	padding-top: 5%;
}

.table-img {
	width: 40%;
}

.table-img img {
	border: 0.5rem solid rgb(157, 0, 255);
	animation: border-neon-animation 2s infinite alternate, radius-neon-animation-top-left 4s infinite alternate, radius-neon-animation-top-right 4s infinite alternate;
	width: 60%;
	height: auto; /* Assurer que l'image conserve son ratio */
}

@keyframes border-neon-animation {
	from {
		border-color: rgb(157, 0, 255);
	}
	to {
		border-color: rgb(245, 199, 255);
	}
}

@keyframes radius-neon-animation-top-left {
	0% {
		border-radius: 10% 50% 50% 50%;
	}
	25% {
		border-radius: 50% 10% 50% 50%;
	}
	50% {
		border-radius: 50% 50% 10% 50%;
	}
	75% {
		border-radius: 50% 50% 50% 10%;
	}
	100% {
		border-radius: 10% 50% 50% 50%;
	}
}

@keyframes radius-neon-animation-top-right {
	0% {
		border-radius: 10% 50% 10% 50%;
	}
	25% {
		border-radius: 50% 10% 50% 10%;
	}
	50% {
		border-radius: 10% 50% 50% 50%;
	}
	75% {
		border-radius: 50% 10% 50% 50%;
	}
	100% {
		border-radius: 50% 50% 10% 50%;
	}
}

/* Ajouter des media queries pour la responsivité */
@media only screen and (max-width: 1200px) {
	.carousel-header h1 {
		font-size: 5vw;
	}
	.other-info {
		font-size: 2vw;
	}
	.table-titles th {
		font-size: 2vw;
	}
}
@media only screen and (max-width: 992px) {
	.carousel-header h1 {
		font-size: 6vw;
	}
	.other-info {
		font-size: 3vw;
	}
	.table-titles th {
		font-size: 3vw;
	}
}
@media only screen and (max-width: 768px) {
	.carousel-header h1 {
		font-size: 8vw;
	}
	.other-info {
		font-size: 4vw;
	}
	.table-titles th {
		font-size: 4vw;
	}
}
@media only screen and (max-width: 576px) {
	.carousel-header h1 {
		font-size: 10vw;
	}
	.other-info {
		font-size: 5vw;
	}
	.table-titles th {
		font-size: 5vw;
	}
}
