#carousel-hub {
	position: relative;
	float: left;
	left: 5%;
	top: 10%;
	width: 45rem;
	height: 45rem;
	border-radius: 5rem;
	background-color: rgba($color: #000000, $alpha: 0.8);
}

.carousel-custom-header {
	width: 100%;
}

.username {
	color: white;
}

.carousel-content {
	margin: 1rem;
	text-align: center;
}

.carousel-img {
	position: relative;
	border-radius: 1rem;
	height: 10vw;
	width: 10vw;
	object-fit: cover;
}

@media (max-width: 768px) {
	.carousel-img {
		border-radius: 2vw;
		height: 10vw;
		width: 10vw !important;
	}
}

@media (max-width: 450px) {
	.carousel-img {
		border-radius: 3vw;
		height: 15vw;
		width: 15vw !important;
	}
}
