{% load static %}

<div id="carousel-hub" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-inner">
		{% for dev in devs %}
			{% if forloop.counter == 1 %}
			<div class="carousel-item active" data-bs-interval="6000">
			{% else %}
			<div class="carousel-item" data-bs-interval="6000">
			{% endif %}
				<div class="carousel-content">
					<div class="carousel-header py-2">
						<h1 class="neonEffect">{{ dev.username }}</h1>
					</div>

					<table class="carousel-body">
						<thead>
						<tr>
							<td class="table-img"><img src="{{ dev.photo_medium_url }}"></td>
							<td colspan="2"><p>{{ dev.bio }}</p></td>
						</tr>
						</thead>
						<tbody>
						<tr class="neonEffect table-titles">
							<th>Location</th>
							<th>Role</th>
							<th>Github</th>
						</tr>
						<tr>
							<td class="other-info">{{ dev.campus }}</td>
							<td class="other-info">
								<p class="role-dev">
								{% for group in dev.groups.all %}
									{% if group.name != "Dev" %}
										{{ group.name }}<br>
									{% endif %}
								{% endfor %}
								</p>
							</td>
							<td class="other-info">
								<a href="{{ dev.github }}" target="_blank"><img src="{% static 'hub/images/github.png' %}"></a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		{% endfor %}
	</div>
</div>


