// style_pong.scss

#tv-content-pong
{
	background-image: url(/static/pong/images/playbackground.png);
}

#nav-pong a {
    border: 0.5vmin solid #072949;
    border-radius: 0.5vmax;
	background-color: rgba(0, 0, 0, 0.3);
}

canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 70vh;
	width: 70vw;
	// background-color: rgba(0, 0, 0, 0.4);
	background-size: 100% 100%;
	border-radius: 5vmin;
	// display: block;
	// margin: auto;
	//background-color: rgb(0, 0, 0);

	background: linear-gradient(180deg, #8360c3, #2ebf91);
}
