{%  load static %}
{% load i18n %}

<div class="tv-match-history">
    <div class="tv-left">
        <button type="button" class="bottom-edit3 btn btn-outline-info" hx-get="{% url 'tournaments_history' %}" hx-target="#main-container" hx-push-url="true">{% trans "TOURNAMENTS HISTORY" %}</button>
        <h2 class="history-title glitch">{% trans "1 VS 1 History" %}</h2>
    </div>
    <div class="table-cont">
        <table class="table table-inside">
            <thead>
                <tr>
                    <th>{% trans "User" %}</th>
                    <th>{% trans "User Score" %}</th>
                    <th>{% trans "Opponent" %}</th>
                    <th>{% trans "Opponent Score" %}</th>
                    <th>{% trans "Duration" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for match in matches %}
                    <tr class="{% if match.player1_score > match.player2_score and match.player1 != 'user'%}table-success{% elif match.player1_score < match.player2_score and match.player1 != 'user'%}table-danger{% else %}table-ok{% endif %}">
                        <td>{{ match.player1 }}</td>
                        <td>{{ match.player1_score}}</td>
                        <td>{{ match.player2 }}</td>
                        <td>{{ match.player2_score}}</td>
                        <td>{{ match.game_duration }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{#<script>#}
{#    document.addEventListener('DOMContentLoaded', function() {#}
{#        var matchRows = document.querySelectorAll('.match-row');#}
{##}
{#        matchRows.forEach(function(row) {#}
{#            var player1Score = parseInt(row.children[1].textContent);#}
{#            var player2Score = parseInt(row.children[3].textContent);#}
{##}
{#            if (player1Score > player2Score) {#}
{#                row.classList.add('table-success11');#}
{#            } else if (player1Score < player2Score) {#}
{#                row.classList.add('table-danger11');#}
{#            }#}
{#            // Ajoutez d'autres conditions si nécessaire#}
{#        });#}
{#    });#}
{#</script>#}
