{%  load static %}
    {% if searched %}
        <div class="tv-content-profile">
        <h1>{{ prof.username }}</h1><br/>
        <div id="choice-div" class="rounded-5 border border-info border-3">
		    <img id="choice-img" class="rounded-5 border border-info border-3" src="{{ prof.profile_image_path }}" alt="player-profile">
	    </div>
	    <h3 class="h4lol"><br>
	    	GAME PLAYED : {{ prof.stats.games_played }}<br><br><br>
	    	WIN COUNT : {{ prof.stats.wins }}<br><br><br>
            LOOSE COUNT : {{ prof.stats.losses }}<br><br>
	    </h3>
        <form class="d-flex" method="post" hx-post="{% url 'search_profiles' %}" hx-target="#main-container">
            {% csrf_token %}
            <input class="bottom-edit5 btn-outline-info" name="searched" type="search" placeholder="Search for username.." aria-label="Search"/>
            <button class="bottom-edit4 btn btn-outline-info" type="submit">Search</button>
            <br/>
            <button name="btn-search" type="button" class="bottom-edit2 btn btn-outline-info" hx-get="{% url 'match_history_search' %}" hx-target="#main-container" hx-push-url="true" data-variable="{{ prof.username }}">MATCH HISTORY</button>
        </form>
        </div>


    {% else %}
        <h1 style="position: absolute; color: white; top: 40%; left: 20%;"> Error: There is no user with this username.</h1>
    {%  endif %}
</div>