<div class="container">
	<div class="catjoueurs_div">
		<h1 class="glitch_anim catjoueurs_text" data-text="TOURNAMENTS ">TOURNAMENTS</h1>
		<h1 class="glitch_anim catjoueurs_text" data-text=" 4 PLAYERS">4 PLAYERS</h1>
	</div>
	<div id="carouselExampleIndicators" class="carousel slide carousel_container">
		<div class="carousel-inner">
		  <div class="carousel-item active carousel_animation">
			<img src="/static/pong/images/catjoueurs_image.jpeg" class="d-block w-100" alt="...">
			<div class="row g-3">
				<div class="col-md-6" id="form1">
				  <label for="inputplayer2">Player 2:</label>
				  <input type="text" class="form-control player_forms" id="inputplayer2" action="tournaments_choice_block.html" method="GET" placeholder="Player 2" aria-label="First name">
				  <button type="submit button" id="form1btn" class="btn button_submit">Submit</button>
				</div>
			</div>
		  </div>
		  <div class="carousel-item carousel_animation">
			<img src="/static/pong/images/catjoueurs_image2.jpeg" class="d-block w-100" alt="...">
			<div class="row g-3">
				<div class="col-md-6" id="form2">
					<label for="inputplayer3">Player 3:</label>
					<input type="text" class="form-control player_forms" id="inputplayer3" placeholder="Player 3" aria-label="Last name">
					<button type="submit" id="form2btn" class="btn button_submit">Submit</button>
			  	</div>
		  	</div>
		  </div>
		  <div class="carousel-item">
			<img src="/static/pong/images/catjoueurs_image3.jpeg" class="d-block w-100" alt="...">
			<div class="row g-3">
				<div class="col-md-6" id="form3">
					<label for="inputplayer4">Player 4:</label>
					<input type="text" class="form-control player_forms" id="inputplayer4" placeholder="Player 4" aria-label="Last name">
					<button type="submit" id="form3btn" class="btn button_submit" id="">Submit</button>
		  		</div>
		  	</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
		  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		  <span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
		  <span class="carousel-control-next-icon" aria-hidden="true"></span>
		  <span class="visually-hidden">Next</span>
		</button>
	  </div>
  </div>
</div>
<script>
	//var submittedForms = 0;
	var player1 = '{{ user.username }}';
	var player2 = 'Player 2';
	var player3 = 'Player 3';
	var player4 = 'Player 4';
	var url = "";

	function recupnames() {
		player2 = document.getElementById('inputplayer2').value;
		player3 = document.getElementById('inputplayer3').value;
		player4 = document.getElementById('inputplayer4').value;

		url = 'game/tournament' + encodeURIComponent(player1) + '/' + encodeURIComponent(player2) + '/' + encodeURIComponent(player3) + '/' + encodeURIComponent(player4);
		console.log("Player 1 set to:", player1);
		console.log("Player 2:", player2);
    	console.log("Player 3:", player3);
    	console.log("Player 4:", player4);
    	console.log("URL:", url);
}

		document.getElementById('form1btn').addEventListener('click', function() {
    	recupnames();
	});
		document.getElementById('form2btn').addEventListener('click', function() {
    	recupnames();
	});
		document.getElementById('form3btn').addEventListener('click', function() {
    	recupnames();
	});

	function redirect_withnames() {
		if (player1 != null && player2 != null && player3 != null && player4 != null)
			window.location.href = url;
	}

</script>