<div id="eight_players_containers">
    <h1 class="eightplayers_text">8 PLAYERS TOURNAMENTS</h1>
    <div class="mb-3 form_eightplayers form_playertwo">
        <label for="formGroupExampleInput" class="form-label">Player Two</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
      </div>
      <div class="mb-3 form_eightplayers form_playerthree">
        <label for="formGroupExampleInput2" class="form-label">Player Three</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
      </div>
      <div class="mb-3 form_eightplayers form_playerfour">
        <label for="formGroupExampleInput" class="form-label">Player Four</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
      </div>
      <div class="mb-3 form_eightplayers form_playerfive">
        <label for="formGroupExampleInput2" class="form-label">Player Five</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
      </div>
      <div class="mb-3 form_eightplayers form_playersix">
        <label for="formGroupExampleInput" class="form-label">Player Six</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
      </div>
      <div class="mb-3 form_eightplayers form_playerseven">
        <label for="formGroupExampleInput2" class="form-label">Player Seven</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
      </div>
      <div class="mb-3 form_eightplayers form_playereight">
        <label for="formGroupExampleInput" class="form-label">Player Eight</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
      </div>
</div>