<div id="eight_players_containers">
  <h1 class="glitch_anim eightplayers_text" data-text="TOURNAMENTS ">TOURNAMENTS</h1>
  <h1 class="glitch_anim eightplayers_text" data-text=" 8 PLAYERS">8 PLAYERS</h1>
      <div class="player1 col-md-6">
        {%  if user.nickname %}
        <h1>Host and player 1: {{ user.nickname }}</h1>
        {% else %}
        <h1>Host and player 1: {{ user.username }}</h1>
        {%  endif %}
      </div>
    <div class="mb-3 form_eightplayers form_playertwo">
        <label for="formGroupExampleInput" class="form-label">Player Two</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
      </div>
      <div class="mb-3 form_eightplayers form_playerthree">
        <label for="formGroupExampleInput2" class="form-label">Player Three</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
      </div>
      <div class="mb-3 form_eightplayers form_playerfour">
        <label for="formGroupExampleInput" class="form-label">Player Four</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
      </div>
      <div class="mb-3 form_eightplayers form_playerfive">
        <label for="formGroupExampleInput2" class="form-label">Player Five</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
      </div>
      <div class="mb-3 form_eightplayers form_playersix">
        <label for="formGroupExampleInput" class="form-label">Player Six</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
      </div>
      <div class="mb-3 form_eightplayers form_playerseven">
        <label for="formGroupExampleInput2" class="form-label">Player Seven</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
      </div>
      <div class="mb-3 form_eightplayers form_playereight">
        <label for="formGroupExampleInput" class="form-label">Player Eight</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
      </div>
</div>