{% extends "home.html" %}
{% load static %}
{% block title %}
    pong
{% endblock %}

{% block content %}
    <!DOCTYPE html>
<body>
    <div class="div-bordure">
        <img class="img-profil" src="{% static 'images/playbackground.png' %}" alt="img-playbackg">
    </div>
    <ul id="menu-play">
        <li>
            <a href="/pong/" hx-get="/pong/" hx-target="#main-container" class="btn btn-primary" id="play"> 1 VS 1
            </a>
        </li>
        <li>
            <a href="/tournaments_stats/" hx-get="/tournaments_stats/" hx-target="#main-container" class="btn btn-primary" id="tournament_stats"> 1 VS BOT
            </a>
        </li>
        <li>
            <a href="/profiles/" hx-get="/profiles/" hx-target="#main-container" class="btn btn-primary" id="profile"> TOURNAMENT
            </a>
        </li>
    </ul>
</body>
{% endblock %}
