<!-- Votre template pong_block.html -->
<nav id="navGameMode" class="btn-group hover-bigger">
	<a class="btn buttonPong buttonInPlay" href="{% url 'game' %}" hx-post="{% url 'game' %}" hx-target="#tv-container" hx-push-url="pong/game" hx-headers="{ 'X-CSRFToken': '{{ csrf_token }}' }">
		<span class="center-text">
			1 VS 1
		</span>
	</a>
	<a class="btn buttonPong buttonInPlay" href="{% url 'tournaments_stats' %}" hx-get="{% url 'tournaments_stats' %}" hx-target="body">
		<span class="center-text">
			1 VS BOT
		</span>
	</a>
	<a class="btn buttonPong buttonInPlay" href="{% url 'profile' %}" hx-get="{% url 'profile' %}" hx-target="body">
		<span class="center-text">
			TOURNAMENT
		</span>
	</a>
</nav>
