@charset "UTF-8";
/* ********************************************* */
/*                Main keyframes                 */
/* ********************************************* */
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideUpFar {
  from {
    transform: translateY(700%);
  }
  to {
    transform: translateY(0);
  }
}
* {
  margin: 0;
  padding: 0;
}

:root {
  --alert-danger-bg: #b60012;
  --alert-danger-text: #ffffff;
  --alert-success-bg: #45b345;
  --alert-success-fg: #ffffff;
}

.tv-content {
  position: absolute;
  top: 40.8%;
  left: 50.1%;
  transform: translate(-50%, -50%);
  max-width: 96.6%;
  max-height: 87.7%;
  background-size: cover;
  background-position: center;
}

.buttonPong {
  position: relative;
  display: inline-block;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border: 0.3rem solid #072949;
  border-radius: 1.5rem;
  overflow: hidden;
  -webkit-text-stroke: 0.05rem white;
  text-shadow: black 0.5rem 0.5rem 1rem;
}

.buttonPong:hover, .buttonPong:focus {
  -webkit-text-stroke: 0.05rem black;
  background: linear-gradient(45deg, #ff00ff, #00ffff, #ff00ff, #00ffff);
  border-color: #072949; /* Couleur de la bordure lorsque survolé */
}

.pong-btn-success {
  position: relative;
  display: inline-block;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: rgba(36, 156, 0, 0.562);
  border: 0.3rem solid #124907;
  border-radius: 1.5rem;
  overflow: hidden;
  -webkit-text-stroke: 0.05rem white;
  text-shadow: black 0.5rem 0.5rem 1rem;
}

.pong-btn-success:hover, .pong-btn-success:focus {
  -webkit-text-stroke: 0.05vmin black;
  background: linear-gradient(45deg, #15ff00, #b3ff00, #15ff00, #b3ff00);
  border-color: #308f0a;
}

.input-pong {
  border: 0.3rem solid #072949;
  border-radius: 1.5rem;
  padding: 1rem;
  font-size: 1.5rem;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* Bootstrap values overrides */
.alert-danger {
  background-color: var(--alert-danger-bg);
  color: var(--alert-danger-text);
}

.alert-success {
  background-color: var(--alert-success-bg);
  color: var(--alert-success-fg);
}

#tv-login-content {
  position: absolute;
  width: 30rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#alert-error {
  z-index: 1;
  border-radius: 2rem 2rem 0 0;
  height: 7rem;
  margin-bottom: -3rem;
  font-size: 1.3rem;
  animation: slideUpFar 0.8s ease-out;
}

#login-form {
  z-index: 2;
  position: relative;
  width: 100%;
  padding: 1rem;
  border-radius: 2rem;
  background: linear-gradient(to bottom, #f63192, #6c4fef);
  animation: slideUp 0.5s ease-out forwards;
  box-shadow: black 0.5vmin 0.5vmin 1vmin;
}

#login-form input[type=text], input[type=password] {
  width: 100%;
  height: 4rem;
  display: inline-block;
  box-sizing: border-box;
}

#login-form button span {
  font-size: 2rem;
}

#login-submit-btn {
  float: left;
  width: 65%;
}

#signup-btn {
  float: right;
  border-radius: 1.5rem;
}

.form_signup1 {
  text-align: center;
  margin: auto;
  border-radius: 2rem;
  width: 90%;
  animation: shine1 3s infinite;
  transition: color 0.3s ease;
  margin-bottom: 1vh;
}

.form_signup2 {
  text-align: center;
  margin: auto;
  top: 25%;
  width: 90%;
  border-radius: 2rem;
  animation: shine1 3s infinite;
  transition: color 0.3s ease;
  margin-bottom: 1vh;
}

.form_signup3 {
  text-align: center;
  margin: auto;
  top: 40%;
  left: 0%;
  border-radius: 2rem;
  animation: shine1 3s infinite;
  transition: color 0.3s ease;
  margin-bottom: 1vh;
}

.form_signup4 {
  text-align: center;
  margin: auto;
  top: 60%;
  left: 0%;
  border-radius: 2rem;
  animation: shine1 3s infinite;
  transition: color 0.3s ease;
  margin-bottom: 1vh;
}

.container_signup {
  position: absolute;
  width: 40%;
  left: 29%;
  bottom: 25%;
  padding: 1vh;
  background: linear-gradient(to bottom, #f63192, #6c4fef);
  border-radius: 2rem;
  box-shadow: rgb(0, 0, 0) 0.3vmin 0.3vmin 0.3vmin;
  border: 0.2vmin solid black;
  text-align: center;
}

.container_signup:hover {
  transform: scale(1.1);
}

.btn_signup {
  background-color: violet;
  color: black;
  border-radius: 2rem;
  border: 0.1vmin solid black;
  font-size: 2.5vh;
  margin-top: 2vh;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url("/static/home/images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html, body {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  width: 100%;
}

#nav-home-top {
  z-index: 2;
  position: fixed;
  width: 100vw;
  height: 5vw;
  top: 0;
  font-size: 0;
  text-align: justify;
}

#home-btn {
  float: left;
  width: 18vw;
  height: 100%;
  font-size: 5vw;
  text-align: center;
  color: white;
  -webkit-text-stroke: 0.2vmin black;
  overflow: hidden;
  scale: 1;
}

#home-btn:hover .P,
#home-btn:hover .N,
#home-btn:hover .G,
#home-btn:focus .P,
#home-btn:focus .N,
#home-btn:focus .G {
  text-shadow: 0vw 0vw 1vw rgb(0, 255, 238);
  cursor: pointer;
  border: 0;
}

.P {
  position: relative;
  margin: 0 -0.5vw 0 -0.5vw;
  top: -1.4285714286vw;
  animation: fly-in 3s ease-out;
  display: inline-block;
  transition: transform 0.3s ease;
}

.O {
  position: relative;
  width: 3vw;
  height: 3vw;
  top: 0.1vw;
  border-radius: 50%;
  border-width: 1vw;
  border-color: black;
  background-color: turquoise;
  color: transparent;
  -webkit-text-stroke: transparent;
  text-align: center;
  line-height: 6.5vw;
  text-shadow: 0 0 0vw transparent;
  background: radial-gradient(circle at 50% 120%, #95f5e6, #1fbc9d 80%, #1bc19f 100%);
  animation: bounce2 3s ease infinite;
  display: inline-block;
  box-shadow: inset 0.5vmin 0.2vmin 0.3vmin rgb(255, 255, 255), 2vmin 2vmin 2vmin rgba(0, 0, 0, 0.632), 0vmin 5vmin 10vmin rgba(0, 0, 0, 0.3);
}

.N {
  position: relative;
  margin: 0 -0.5vw 0 -0.5vw;
  top: -1.4285714286vw;
  animation: fly-in 5s ease-out;
  display: inline-block;
}

.G {
  position: relative;
  margin: 0 -0.5vw 0 -0.5vw;
  top: -1.4285714286vw;
  animation: fly-in 6s ease-out;
  display: inline-block;
}

@keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@keyframes bubble-anim {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scaleY(0.95) scaleX(1.05);
  }
  48% {
    transform: scaleY(1.1) scaleX(0.9);
  }
  68% {
    transform: scaleY(0.98) scaleX(1.02);
  }
  80% {
    transform: scaleY(1.02) scaleX(0.98);
  }
  97%, 100% {
    transform: scale(1);
  }
}
@keyframes fly-in {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0%);
  }
}
#ball {
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  background-color: rgb(34, 195, 178);
  position: absolute;
  box-shadow: inset 5px 2px 3px rgb(255, 255, 255), 7px 15px 2px rgba(0, 0, 0, 0.632);
  animation: moveX 3s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
}

#ball1 {
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  background-color: rgb(34, 195, 178);
  position: absolute;
  box-shadow: inset 5px 2px 3px rgb(255, 255, 255), 7px 15px 2px rgba(0, 0, 0, 0.632);
  animation: moveY 3s linear 0s infinite alternate, moveX 3.4s linear 0s infinite alternate;
}

@keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 16vw;
  }
}
@keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 3vw;
  }
}
#login-status {
  position: relative;
  float: right;
  width: fit-content;
  height: 90%;
  right: 2%;
  cursor: pointer;
  border-radius: 0 0 2rem 2rem;
  background: linear-gradient(to bottom, #f63192, #6c4fef);
}

#login-status .dropdown-toggle {
  height: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#login-status .login-btn {
  position: relative;
  min-width: 10rem;
  height: 80%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#menu-profile-img {
  width: 2rem;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.7);
}

#login-status .dropdown-menu {
  width: 16vw;
  max-height: 50vh;
  text-align: center;
  font-size: 1.2rem;
}

#main-container {
  z-index: 1;
  position: fixed;
  width: 100vw;
  top: 5vw;
  bottom: 3vw;
}

#nav-home-bottom {
  position: absolute;
  list-style: none;
  bottom: 0;
  width: 100%;
  height: 3vw;
  min-height: 4vh;
  background: linear-gradient(to bottom, #f63192, #6c4fef);
  border-radius: 20px 20px 0 0;
  background-color: transparent;
}

.nav-bottom-btn {
  width: 32vw;
  height: 90%;
  top: 5%;
  font-size: 10vw;
  margin: auto 0.1vw auto 0.1vw;
}

.howtoplay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 98%;
  text-align: center;
}

#profile-img {
  border-radius: 20%;
  object-fit: cover;
  box-shadow: black 0.5vmin 0.5vmin 1vmin;
}

.supermodal {
  position: absolute; /* Positionnement absolu par rapport à son conteneur parent */
  top: 50%; /* Distance par rapport au bord supérieur de son conteneur parent */
  left: 20%; /* Pour le centrer horizontalement */
  z-index: 4; /* Empilement par-dessus d'autres éléments */
}

/* ********************************************* */
/*              Friends App Styles               */
/* ********************************************* */
#friend-request-modal .modal-dialog {
  position: relative;
  overflow: auto;
  top: 25%;
  border-radius: 2rem;
  background: linear-gradient(to bottom, #f63192, #6c4fef);
  animation: slideUp 0.5s ease-out forwards;
}

#friend-request-modal .modal-content {
  position: relative;
  border: solid 0.3rem #220022;
  border-radius: 1.7rem;
}

#friend-request-modal .modal-header {
  border-radius: 1.5rem 1.5rem 0 0;
}

#friend-request-modal .modal-footer {
  justify-content: center;
  border-radius: 1.5rem;
}

.friends-dropdown .dropdown-icon {
  width: 2rem;
  height: 100%;
  object-fit: cover;
}

.friends-dropdown .online {
  background-color: rgba(0, 255, 0, 0.3);
}

.friends-dropdown .ingame {
  background-color: rgba(255, 255, 0, 0.3);
}

.friends-dropdown .offline {
  background-color: rgba(0, 0, 0, 0.3);
}

nav-pong a {
  border: 0.5vmin solid #072949;
  border-radius: 0.5vmax;
  background-color: rgba(0, 0, 0, 0.3);
}

#pongCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60vh;
  width: 60vw;
  background-size: 100% 100%;
  border-radius: 5vmin;
  background: linear-gradient(180deg, #8360c3, #2ebf91);
}

#pongCanvas3D {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  border-radius: 5vmin;
}

/*.friends-dropdown-toggle {
	overflow-y: scroll;
}*/
.buttonInPlay {
  width: 20vw;
  height: 30vh;
  border-radius: 15px;
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5vw;
}

#navGameMode {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#startgame_bigger_container {
  position: absolute;
  z-index: 1;
  height: 40vh;
  width: 40vw;
  left: 30%;
  top: 25%;
  justify-content: center;
  display: flex;
}

.startgame_container {
  display: flex;
  justify-content: center;
  z-index: 1;
  height: inherit;
  width: 20vw;
  background-color: rgba(17, 0, 17, 0.8);
  box-shadow: rgb(0, 0, 0) 0.5vmin 0.5vmin 0.5vmin;
  border-radius: 10%;
  border: 0.5vh solid black;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.text_startgame {
  color: white;
  font-size: 2.3vh;
  top: 5%;
  left: 13%;
  padding: 5%;
}

.startgame_playerform {
  text-align: center;
  width: 70%;
  overflow: hidden;
  background-color: bisque;
  border-radius: 1rem;
  display: flex;
  font-size: 1.5rem;
  animation: blink 0.5s infinite;
  height: 7vh;
}

.typing-animation p {
  display: inline-block;
  border-right: 0.5vmin solid transparent;
  animation: typing 1s steps(20) infinite;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.startgame_btn {
  bottom: 30%;
}

.btn_setting,
.startgame_btn {
  right: 15%;
  width: 70%;
  background-color: violet;
  border: 0.1vmin solid black;
  height: 15%;
  font-size: 2.5vh;
  border-radius: 1rem;
}

.startgame_btn:hover,
.startgame_btn:focus {
  background-color: pink;
  transform: scale(1.1);
  box-shadow: 1vmin 1vmin 1vmin #ff00d0;
}

.btn_setting:hover,
.startgame_playerform:hover {
  transform: scale(1.1);
  animation: shine1 3s infinite;
  transition: color 0.3s ease;
}

.btn_setting {
  bottom: 10%;
}

.container_setting_pong {
  display: none;
  z-index: 1;
  height: inherit;
  width: 20vw;
  background-color: rgba(17, 0, 17, 0.8);
  box-shadow: rgb(0, 0, 0) 0.5vmin 0.5vmin 0.5vmin;
  border-radius: 10%;
  border: 0.5vh solid black;
  flex: 1;
  padding-left: 6%;
  align-items: center;
}

.switch {
  cursor: pointer;
  overflow: hidden;
  color: violet;
}

@keyframes moveRight {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes moveLeft {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0%);
  }
}
.visible {
  display: flex;
  animation: moveRight 2s forwards;
}

.animation_stc {
  animation: moveLeft 2s forwards;
  transition: transform 0.5s ease;
}

@keyframes shine1 {
  0% {
    background-color: rgb(192, 128, 253);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
  40% {
    background-color: rgb(237, 104, 237);
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
  80% {
    background-color: rgb(245, 158, 173);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
  100% {
    background-color: rgb(192, 128, 253);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
}
.slider {
  position: absolute;
  appearance: auto;
  width: 74%;
  top: 20%;
  height: 15px;
  border-radius: 2rem;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider_text {
  position: absolute;
  color: bisque;
  top: 24%;
}

.slider1 {
  position: absolute;
  appearance: auto;
  width: 74%;
  height: 15px;
  border-radius: 2rem;
  outline: none;
  opacity: 0.7;
  top: 48%;
  transition: opacity 0.2s;
}

.slider_text1 {
  position: absolute;
  color: bisque;
  top: 53%;
  font-size: 2vh;
}

.slider2 {
  position: absolute;
  appearance: auto;
  width: 74%;
  border-radius: 2rem;
  height: 15px;
  outline: none;
  opacity: 0.7;
  top: 75%;
  transition: opacity 0.2s;
}

.slider_text2 {
  position: absolute;
  color: bisque;
  top: 80%;
  font-size: 2vh;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #000;
  cursor: pointer;
}

#btn_tournaments {
  position: absolute;
  left: 30%;
  bottom: 55%;
}

.text_btn_tournaments {
  font-size: 8vh;
  padding: 3vw;
  color: white;
  border: 0.5vmin solid violet;
  border-radius: 10%;
  background: url(https://media1.tenor.com/m/T3H92Qstl68AAAAC/p-ong.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
}

.text_btn_tournaments_one {
  font-size: 8vh;
  padding: 3vw;
  color: white;
  border: 0.5vmin solid violet;
  border-radius: 10%;
  background: url(https://i0.wp.com/sandiegofreepress.org/wp-content/uploads/2014/07/gif-animated-color-bouncing-balls.gif?fit=600%2C400&ssl=1&w=640);
  background-repeat: no-repeat;
}

.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

.pulse {
  --color: #84f3d9;
  --hover: #e677f5;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
.button_2vs2 {
  border: transparent;
}

.button_4vs4 {
  border: transparent;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
#text_btn {
  font-size: 10vh;
}

.btn-5:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.catjoueurs_div {
  display: flex;
  text-align: center;
  color: white;
  justify-content: center;
  animation: neon-glow1 1.5s ease-in-out infinite alternate;
}

.catjoueurs_text {
  display: flex;
  font-size: 11vh;
  padding: 1.875vh;
  animation: neon-glow1 4s ease-in-out infinite alternate;
}

@keyframes neon-glow1 {
  to {
    filter: blur(2px);
    text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 10px rgb(218, 69, 164), 0 0 10px rgba(255, 59, 173, 0.8), 0 0 10px rgba(178, 69, 224, 0.8), 0 0 10px rgba(255, 0, 187, 0.6);
  }
}
.player_forms {
  width: 100%;
  background-color: black;
  color: white;
  border-color: violet;
}

.form-control:focus,
.form-control:active {
  background-color: black;
  color: white;
  border-color: violet;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 255, 0.467);
}

.carousel_container {
  width: 55%;
  height: 50%;
  left: 23%;
  border-radius: 5rem;
  border: 0.5rem solid violet;
  overflow: hidden;
}

.glitch_anim {
  font-size: 11vh;
  animation: glitch 1s linear infinite, neon-glow1 1.5s ease-in-out infinite alternate;
}

.glitch_anim1 {
  font-size: 8vh;
  animation: glitch 1s linear infinite, neon-glow1 1.5s ease-in-out infinite alternate;
}

@keyframes glitch {
  2%, 64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%, 60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}
.glitch_anim:before,
.glitch_anim1:before,
.glitch_anim1:after,
.glitch_anim:after {
  content: attr(data-text);
  text-align: center;
  position: absolute;
  display: block;
  color: white;
  animation: neon-glow1 1.5s ease-in-out infinite alternate;
}

.glitch_anim:before,
.glitch_anim1:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%, 64% {
    transform: translate(0.25vh, -0.25vh);
  }
  4%, 60% {
    transform: translate(-0.25vh, 0.25vh);
  }
  62% {
    transform: translate(1.5vh, -0.1vh) skew(-13deg);
  }
}
.glitch_anim:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
  2%, 64% {
    transform: translate(-2px, 0);
  }
  4%, 60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}
.input {
  left: 40%;
  width: 20%;
  top: 20%;
  position: absolute;
}

#eight_players_containers {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.player1 {
  position: absolute;
  display: flex;
  top: 15%;
  left: 10%;
  width: 30%;
  font-size: 10vh;
  color: white;
  padding: 1.5vh;
  text-align: center;
  background-color: rgb(146, 75, 203);
  border: 4mm ridge rgba(146, 32, 184, 0.6);
  animation: neon-glow 4s ease-in-out infinite alternate;
}

.player1:hover {
  background-image: linear-gradient(to right, rgb(146, 75, 203), indigo, blue, turquoise, violet, rgb(146, 75, 203));
  animation: rainbowAnimation 10s linear infinite;
  background-size: 1400% auto;
  transform: scale(1.1);
}

@keyframes rainbowAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.eightplayers_text {
  padding: 1.875vh;
  display: flex;
  text-align: center;
  color: white;
  font-size: 8vh;
  animation: neon-glow1 4s ease-in-out infinite alternate;
}

.form_eightplayers {
  position: absolute;
  color: black;
  width: 30%;
}

.form_playertwo {
  border: 4mm ridge rgba(146, 32, 184, 0.6);
  top: 33%;
  left: 10%;
  background-color: rgb(146, 75, 203);
  padding: 0.7vh;
  box-sizing: border-box;
}

.form_playerthree {
  border: 4mm ridge rgba(255, 97, 226, 0.6);
  top: 53%;
  left: 10%;
  background-color: rgb(255, 0, 200);
  padding: 0.7vh;
  box-sizing: border-box;
}

.form_playerfour {
  border: 4mm ridge rgba(255, 46, 217, 0.6);
  top: 73%;
  left: 10%;
  background-color: rgb(255, 119, 232);
  padding: 0.7vh;
  box-sizing: border-box;
}

.form_playerfive {
  border: 4mm ridge rgba(207, 52, 254, 0.411);
  top: 15%;
  right: 10%;
  background-color: rgb(216, 47, 246);
  padding: 0.7vh;
  box-sizing: border-box;
}

.form_playersix {
  border: 4mm ridge rgba(184, 32, 179, 0.6);
  top: 33%;
  right: 10%;
  background-color: rgb(255, 0, 238);
  padding: 0.7vh;
  box-sizing: border-box;
}

.form_playerseven {
  border: 4mm ridge rgba(115, 20, 147, 0.6);
  top: 53%;
  right: 10%;
  background-color: indigo;
  padding: 0.7vh;
  box-sizing: border-box;
}

.form_playereight {
  border: 4mm ridge rgba(146, 32, 184, 0.6);
  top: 73%;
  right: 10%;
  background-color: violet;
  padding: 0.7vh;
  box-sizing: border-box;
}

.form_playereight:hover .form_playereight:focus {
  transform: rotate(3deg) scale(1.1);
  box-shadow: 0 0 20px rgba(146, 32, 184, 0.8);
}

.form_playerseven:hover .form_playerseven:focus {
  transform: rotate(-3deg) scale(1.1);
}

.form_playersix:hover,
.form_playersix:focus {
  transform: scale(1.1);
  animation: wiggle 4s forwards;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
.form_playerfive:hover,
.form_playerfive:focus {
  transform: translateY(5px) scale(1.1);
  filter: hue-rotate(90deg);
}

.form_playerfour:hover,
.form_playerfour:focus {
  transform: scale(1.1);
  animation: float 3s forwards;
}

@keyframes float {
  0% {
    transform: translatey(0vh);
  }
  50% {
    transform: translatey(-4vh);
  }
  100% {
    transform: translatey(0vh);
  }
}
.form_playerthree:hover,
.form_playerthree:focus {
  animation: bubble-anim 4s ease-out forwards;
}

@keyframes bubble-anim {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scaleY(0.95) scaleX(1.05);
  }
  48% {
    transform: scaleY(1.1) scaleX(0.9);
  }
  68% {
    transform: scaleY(0.98) scaleX(1.02);
  }
  80% {
    transform: scaleY(1.02) scaleX(0.98);
  }
  97%, 100% {
    transform: scale(1);
  }
}
.form_playertwo:hover,
.form_playertwo:focus {
  animation: left-right 4s ease-out forwards;
}

@keyframes left-right {
  0% {
    transform: translatex(0vh);
  }
  40% {
    transform: translatex(7vh);
  }
  60% {
    transform: translatex(-7vh);
  }
  100% {
    transform: translatex(0vh);
  }
}
.btn_startournament4 {
  position: absolute;
  bottom: 35%;
  right: 7%;
  height: 15vh;
  width: 25vh;
  background-color: #ff42fc;
  border-radius: 2rem;
  font-size: 3vh;
}

.btn_startournament8 {
  position: absolute;
  bottom: 43%;
  right: 43.5%;
  height: 15vh;
  width: 25vh;
  background-color: #8360c3;
  border-radius: 2rem;
  font-size: 3vh;
}

.btn_startournament4:hover,
.btn_startournament8:hover {
  background-color: #8360c3;
  background-image: linear-gradient(to right, rgb(146, 75, 203), indigo, blue, turquoise, violet, rgb(146, 75, 203));
  transform: scale(1.1);
  border-color: 0.2vmin solid black;
  box-shadow: 0vmin 0vmin 1.8vh 0.8vh rgba(128, 0, 128, 0.5);
  animation: rainbowAnimation 5s linear infinite;
  background-size: 1400% auto;
}

#tv-content-tourn-stats {
  height: 100%;
  padding-bottom: 5vh;
}

#title-tournaments {
  top: 1vh;
  position: relative;
  text-align: center;
  font-size: 6rem;
  -webkit-text-stroke: 3px black;
  text-shadow: 5px 5px purple;
  animation: shine 3s infinite;
  transition: color 0.3s ease;
}

#title-div {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.center {
  position: relative;
  width: 80%;
  max-height: 60%;
  padding: 1px;
  margin: auto;
  border-radius: 25px;
  border: 10px solid rgba(190, 23, 215, 0.9);
  background-color: black;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.loadingtry {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, black 50%, rgba(190, 23, 215, 0.9) 50%);
  background-size: 200% 100%;
  animation: loading 2s forwards, fadeout 6s forwards;
  overflow: hidden;
  opacity: 1;
  border-radius: 15px;
}

.custom-table {
  table-layout: auto;
  overflow: hidden;
  height: 100%;
  background-color: transparent;
  overflow-y: scroll;
  max-height: 20vh;
}

.custom-table th,
.custom-table td {
  opacity: 0;
  width: 25%;
  animation: fadein 6s forwards, neon-glow 1.5s ease-in-out infinite alternate;
  border: black;
  color: violet;
  background-color: transparent;
  text-align: center;
  font-size: 1.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: violet;
}

#chart_div_container {
  position: relative;
  min-width: 50%;
  max-width: 80%;
  min-height: 30%;
  margin: auto;
  top: 20%;
  border-radius: 5rem;
  border: 10px solid rgba(190, 23, 215, 0.9);
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

#chart_div_container svg rect {
  fill: none;
  stroke: none;
  width: 100%;
  height: 100%;
}

#chart_div {
  width: 100%;
  height: 100%;
}

@keyframes slideDown {
  from {
    max-height: 0;
  }
  to {
    max-height: 200px;
  }
}
.slide-down-animation {
  animation: slideDown 0.3s ease-out;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

#bottom-btn {
  position: relative;
  margin-top: 2vh;
  left: 10%;
  background-color: blueviolet;
  border-radius: 5px;
  font-size: 16px;
  color: white;
}

.hover-bigger:hover {
  transform: scale(1.05);
  border-color: rgb(250, 135, 236);
  box-shadow: rgb(246, 24, 246);
}

.hover-aura:hover {
  border-color: rgb(7, 186, 226);
  box-shadow: 0 0 50vh rgb(7, 186, 226);
}

@keyframes shine {
  0% {
    color: blueviolet;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
  50% {
    color: violet;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
  100% {
    color: pink;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
}
#title-tournaments:hover {
  color: gold;
  text-shadow: none;
  animation: none;
}

@keyframes neon-glow {
  to {
    text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(218, 69, 164), 0 0 30px rgba(255, 59, 173, 0.8), 0 0 40px rgba(178, 69, 224, 0.8), 0 0 120px rgba(255, 0, 187, 0.6);
  }
}
@keyframes loading {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
@keyframes fadeout {
  to {
    opacity: 0;
  }
}
@keyframes fadein {
  to {
    opacity: 1;
  }
}
.tv-match-history {
  position: fixed;
  z-index: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row; /* Les enfants seront disposés en colonnes */
  align-items: flex-start; /* Aligner les éléments en haut */
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  background-size: cover;
  background-position: center;
  border: 7px solid #ff2ffc;
  animation: borderChange 10s linear infinite alternate;
}

.table-ok {
  background-color: white;
}

.tv-match-history .tv-left {
  padding-left: 5px;
  flex: 0 0 auto;
  width: 22%;
  height: 100%;
}

.table-cont {
  padding-left: 10px;
  position: relative;
  display: flex;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
}

.table-inside {
  border-left: 4px solid #ff2ffc;
}

.table.table-inside .bg-success {
  background-color: #28a745 !important; /* Vert */
}

.table.table-inside .bg-danger {
  background-color: #dc3545 !important; /* Rouge */
}

.history-title {
  margin-left: 10px;
}

.tv-content-profile {
  position: absolute;
  overflow: hidden;
  z-index: 0;
  display: flex;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("/static/profile/images/profilebackg.png");
  background-size: cover;
  background-position: center;
  border: 7px solid #ff2ffc;
  animation: borderChange 10s linear infinite alternate;
}

@keyframes borderChange {
  0% {
    border-color: #ff2ffc; /* Couleur initiale de la bordure */
  }
  100% {
    border-color: #2f7bff; /* Nouvelle couleur de la bordure à 100% de l'animation */
  }
}
@keyframes shine2 {
  0% {
    color: #90d4fa;
    text-shadow: 0 0 10px rgba(3, 0, 0, 0.8);
  }
  50% {
    color: violet;
    text-shadow: 0 0 20px rgba(154, 152, 152, 0.8);
  }
  100% {
    color: pink;
    text-shadow: 0 0 10px rgba(252, 250, 250, 0.8);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.tv-content-profile h1 {
  font-weight: bold;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
  margin-top: 1.1rem;
  color: #ff2ffc;
  text-shadow: 3px 3px #000000;
  animation: shine2 10s linear infinite alternate, bounce 7s ease infinite;
}

.tv-content-profile #choice-div {
  position: absolute;
  width: 33%;
  height: 62%;
  top: 22%;
  left: 33%;
  overflow: hidden;
  z-index: 1;
  transition: background-color 0.6s ease;
}

#choice-div:hover {
  background-color: #7fb3d5;
}

@keyframes electrify {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
#choice-div::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #5090af, #7fb3d5, #ff2ffc); /* Dégradé de couleur */
  background-size: 200% 100%; /* Double largeur pour créer l'effet de défilement */
  animation: electrify 3s linear infinite alternate;
  opacity: 0.7; /* Ajustez l'opacité comme vous le souhaitez */
}

#choice-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  box-shadow: black 0.8vmin 0.8vmin 2vmin;
  transform: scale(0.9);
  z-index: 2;
  transition: transform 0.8s ease;
}

#choice-img:hover {
  transform: rotate(1deg);
}

.tv-content-profile .h4lol {
  position: absolute;
  left: 76%;
  top: 23%;
  animation: shine2 10s linear infinite alternate, bounce 7s ease infinite;
}

.tv-content-profile #profile-leftside {
  position: absolute;
  top: 12vh;
  left: 7vw;
  display: block;
}

.bottom-edit {
  z-index: 2;
  position: absolute;
  width: 8rem;
  bottom: 5%;
  left: 8%;
  background-color: #8360c3;
  margin-bottom: 10px; /* Espacement entre les boutons */
}

.bottom-edit2 {
  z-index: 2;
  position: absolute;
  width: 8rem;
  bottom: 25%;
  left: 8%;
  background-color: #8360c3;
  margin-bottom: 10px; /* Espacement entre les boutons */
}

.bottom-edit3 {
  z-index: 2;
  position: absolute;
  height: 4rem;
  width: 7rem;
  bottom: 28%;
  left: 6%;
  background-color: #8360c3;
  margin-bottom: 10px; /* Espacement entre les boutons */
}

.bottom-edit4 {
  z-index: 2;
  position: absolute;
  height: 3rem;
  width: 5rem;
  bottom: 42%;
  left: 6%;
  background-color: #8360c3;
  margin-bottom: 10px; /* Espacement entre les boutons */
}

.bottom-edit5 {
  z-index: 2;
  position: absolute;
  height: auto;
  width: auto;
  bottom: 57%;
  left: 6%;
  background-color: white;
  margin-bottom: 10px; /* Espacement entre les boutons */
}

.glitch {
  color: white;
  position: relative;
  margin: 0 auto;
}

.alert1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.table-success11 {
  background-color: #5ff581 !important; /* Vert */
}

.table-danger11 {
  background-color: #0964ef !important; /* Rouge */
}

#carousel-hub {
  position: absolute;
  width: 40%; /* Ajuster la largeur en pourcentage de l'écran */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 0.4rem solid black;
  border-radius: 5rem;
  background-color: rgba(17, 0, 17, 0.8);
  box-shadow: rgb(0, 0, 0) 0.3vmin 0.3vmin 0.3vmin;
  color: white;
}

.fade-in {
  animation: fadeInAnimation 2s ease-in-out forwards;
  opacity: 0; /* Assurez-vous que l'élément est initialement invisible */
}

@keyframes fadeInAnimation {
  from {
    opacity: 0; /* Début de l'animation : élément invisible */
  }
  to {
    opacity: 1; /* Fin de l'animation : élément visible */
  }
}
.carousel-content {
  padding: 10px; /* Ajouter un espacement autour du contenu */
  text-align: center;
}

.carousel-header {
  margin-bottom: 10px; /* Ajouter un espacement en bas du titre */
}

.carousel-header h1 {
  font-size: 3vw; /* Taille de police responsive */
}

.neonEffect {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px rgb(255, 0, 230), 0 0 20px rgb(255, 0, 238), 0 0 30px rgb(234, 0, 255), 0 0 40px rgb(208, 0, 255), 0 0 50px rgb(157, 0, 255); /* Effet de néon */
  animation: neon-animation 1.5s infinite alternate;
}

@keyframes neon-animation {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.carousel-body {
  width: 100%;
}

.carousel-body thead {
  background-color: rgba(0, 0, 0, 0.7);
}

.carousel-body td {
  padding: 10px;
}

.bio {
  font-size: 1vw;
}

.other-info {
  width: 33%;
  font-size: 1.5vw; /* Taille de police responsive */
}

.other-info img {
  width: 60%;
  height: auto; /* Assurer que l'image conserve son ratio */
}

.table-titles th {
  font-size: 1.5vw; /* Taille de police responsive */
  padding-top: 5%;
}

.table-img {
  width: 40%;
}

.table-img img {
  border: 0.5rem solid rgb(157, 0, 255);
  animation: border-neon-animation 2s infinite alternate, radius-neon-animation-top-left 4s infinite alternate, radius-neon-animation-top-right 4s infinite alternate;
  width: 60%;
  height: auto; /* Assurer que l'image conserve son ratio */
}

@keyframes border-neon-animation {
  from {
    border-color: rgb(157, 0, 255);
  }
  to {
    border-color: rgb(245, 199, 255);
  }
}
@keyframes radius-neon-animation-top-left {
  0% {
    border-radius: 10% 50% 50% 50%;
  }
  25% {
    border-radius: 50% 10% 50% 50%;
  }
  50% {
    border-radius: 50% 50% 10% 50%;
  }
  75% {
    border-radius: 50% 50% 50% 10%;
  }
  100% {
    border-radius: 10% 50% 50% 50%;
  }
}
@keyframes radius-neon-animation-top-right {
  0% {
    border-radius: 10% 50% 10% 50%;
  }
  25% {
    border-radius: 50% 10% 50% 10%;
  }
  50% {
    border-radius: 10% 50% 50% 50%;
  }
  75% {
    border-radius: 50% 10% 50% 50%;
  }
  100% {
    border-radius: 50% 50% 10% 50%;
  }
}
/* Ajouter des media queries pour la responsivité */
@media only screen and (max-width: 1200px) {
  .carousel-header h1 {
    font-size: 5vw;
  }
  .other-info {
    font-size: 2vw;
  }
  .table-titles th {
    font-size: 2vw;
  }
}
@media only screen and (max-width: 992px) {
  .carousel-header h1 {
    font-size: 6vw;
  }
  .other-info {
    font-size: 3vw;
  }
  .table-titles th {
    font-size: 3vw;
  }
}
@media only screen and (max-width: 768px) {
  .carousel-header h1 {
    font-size: 8vw;
  }
  .other-info {
    font-size: 4vw;
  }
  .table-titles th {
    font-size: 4vw;
  }
}
@media only screen and (max-width: 576px) {
  .carousel-header h1 {
    font-size: 10vw;
  }
  .other-info {
    font-size: 5vw;
  }
  .table-titles th {
    font-size: 5vw;
  }
}
.btn-add {
  --btn-add-width: 1.4em;
  --btn-add-height: var(--btn-add-width);
  --btn-add-padding-x: .1em;
  --btn-add-padding-y: var(--btn-add-padding-x);
  --btn-add-bg: url("/static/images/plus_icon.svg");
  --btn-add-bg-color: 0, 255, 0;
  --btn-add-focus-shadow: 0;
  --btn-add-opacity: .5;
  --btn-add-hover-opacity: .75;
  --btn-add-focus-opacity: 1;
  --btn-add-disabled-opacity: .25;
  box-sizing: content-box;
  width: var(--btn-add-width);
  height: var(--btn-add-height);
  padding: var(--btn-add-padding-y) var(--btn-add-padding-x);
  color: var(--btn-add-color);
  background: transparent var(--btn-add-bg) center/var(--btn-add-width) auto no-repeat;
  border: 0;
  border-radius: calc(var(--btn-add-width) / 5);
  opacity: var(--btn-add-opacity);
  transition: transform 0.2s ease-out;
}
.btn-add:hover {
  color: var(--btn-add-color);
  text-decoration: none;
  opacity: var(--btn-add-hover-opacity);
  background-color: rgba(var(--btn-add-bg-color), 0.25);
}
.btn-add:focus {
  outline: 0;
  box-shadow: var(--btn-add-focus-shadow);
  opacity: var(--btn-add-focus-opacity);
  background-color: rgba(var(--btn-add-bg-color), 0.25);
}
.btn-add:disabled, .btn-add.disabled {
  pointer-events: none;
  user-select: none;
  opacity: var(--btn-add-disabled-opacity);
}

.btn-add-white {
  --btn-add-white-filter: invert(1) grayscale(100%) brightness(200%);
  filter: var(--btn-add-white-filter);
}

.btn-deny {
  --btn-deny-width: 1.5em;
  --btn-deny-height: var(--btn-deny-width);
  --btn-deny-padding-x: .09em;
  --btn-deny-padding-y: var(--btn-deny-padding-x);
  --btn-deny-bg: url("/static/images/cross_icon.svg");
  --btn-deny-bg-color: 255, 0, 0;
  --btn-deny-focus-shadow: 0;
  --btn-deny-opacity: .5;
  --btn-deny-hover-opacity: .75;
  --btn-deny-focus-opacity: 1;
  --btn-deny-disabled-opacity: .25;
  box-sizing: content-box;
  width: var(--btn-deny-width);
  height: var(--btn-deny-height);
  padding: var(--btn-deny-padding-y) var(--btn-deny-padding-x);
  color: var(--btn-deny-color);
  background: transparent var(--btn-deny-bg) center/var(--btn-deny-width) auto no-repeat;
  border: 0;
  border-radius: calc(var(--btn-deny-width) / 5);
  opacity: var(--btn-deny-opacity);
  transition: transform 0.2s ease-out;
}
.btn-deny:hover {
  color: var(--btn-deny-color);
  text-decoration: none;
  opacity: var(--btn-deny-hover-opacity);
  background-color: rgba(var(--btn-deny-bg-color), 0.25);
}
.btn-deny:focus {
  outline: 0;
  box-shadow: var(--btn-deny-focus-shadow);
  opacity: var(--btn-deny-focus-opacity);
  background-color: rgba(var(--btn-deny-bg-color), 0.25);
}
.btn-deny:disabled, .btn-deny.disabled {
  pointer-events: none;
  user-select: none;
  opacity: var(--btn-deny-disabled-opacity);
}

.btn-deny-white {
  --btn-deny-white-filter: invert(1) grayscale(100%) brightness(200%);
  filter: var(--btn-deny-white-filter);
}

.btn-refresh {
  --btn-refresh-width: 1.46em;
  --btn-refresh-height: var(--btn-refresh-width);
  --btn-refresh-padding-x: .1em;
  --btn-refresh-padding-y: var(--btn-refresh-padding-x);
  --btn-refresh-bg: url("/static/images/refresh_icon.svg");
  --btn-refresh-bg-color: 0, 0, 255;
  --btn-refresh-focus-shadow: 0;
  --btn-refresh-opacity: .5;
  --btn-refresh-hover-opacity: .75;
  --btn-refresh-focus-opacity: 1;
  --btn-refresh-disabled-opacity: .25;
  box-sizing: content-box;
  width: var(--btn-refresh-width);
  height: var(--btn-refresh-height);
  padding: var(--btn-refresh-padding-y) var(--btn-refresh-padding-x);
  color: var(--btn-refresh-color);
  background: transparent var(--btn-refresh-bg) center/var(--btn-refresh-width) auto no-repeat;
  border: 0;
  border-radius: calc(var(--btn-refresh-width) / 5);
  opacity: var(--btn-refresh-opacity);
  transition: transform 0.2s ease-out;
}
.btn-refresh:hover {
  color: var(--btn-refresh-color);
  text-decoration: none;
  opacity: var(--btn-refresh-hover-opacity);
  background-color: rgba(var(--btn-refresh-bg-color), 0.25);
}
.btn-refresh:focus {
  outline: 0;
  box-shadow: var(--btn-refresh-focus-shadow);
  opacity: var(--btn-refresh-focus-opacity);
  background-color: rgba(var(--btn-refresh-bg-color), 0.25);
}
.btn-refresh:disabled, .btn-refresh.disabled {
  pointer-events: none;
  user-select: none;
  opacity: var(--btn-refresh-disabled-opacity);
}

.btn-refresh-white {
  --btn-refresh-white-filter: invert(1) grayscale(100%) brightness(200%);
  filter: var(--btn-refresh-white-filter);
}

/*# sourceMappingURL=style.css.map */
